{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block title %}{% trans 'О компании' %}{% endblock %}

{% block content %}
    <div class="crumbs">
            <div class="uk-container">
                <ul>
                    <li>
                        <a href="{% url 'client_app:index' %}">{% trans 'ГЛАВНАЯ' %}</a>
                    </li>
                    <li>
                        <span>{% trans 'О компании' %}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="company-box uk-margin-large">
            <div class="uk-container">
                <h1>{% trans 'О компании Технология' %}</h1>
                <div class="uk-padding uk-padding-remove-vertical">
                    {{ content.body|safe }}
                </div>
                <hr class="uk-margin-medium">
                <div class="uk-padding uk-padding-remove-vertical">
                    <div class="uk-grid about-grid uk-child-width-1-3@m">
                        <div>
                            <h4>{% trans 'Доверьтесь нам' %}</h4>
                            <img src="{% static 'img/minified-svg/noun_Time_24401.svg' %}" alt="" width="" height="">
                            <p class="see-more">{% blocktrans %}У нас Вы найдете широкий ассортимент товаров по различным ценам. Мы экономим Ваше время, предоставляя варианты оборудования, материалов, услуг для проекта по принципу цена-качество, т.е. подберем продукт под Ваш бюджет.{% endblocktrans %}</p>
                        </div>
                        <div>
                            <h4>{% trans 'Сэкономим деньги' %}</h4>
                            <img src="{% static 'img/minified-svg/noun_Money_1056230.svg' %}" alt="" width="" height="">
                            <p class="see-more">{% blocktrans %}Наш отдел снабжения проводит регулярные исследования рынка товаров и услуг с целью оптимизации затрат и нашей уверенности в конкурентоспособности предложений. Гарантия на оборудование до пяти лет избавит Вас от возможных затрат в случае выхода из строя техники в течение гарантийного срока.{% endblocktrans %}</p>
                        </div>
                        <div>
                            <h4>{% trans 'Делаем за вас' %}</h4>
                            <img src="{% static 'img/minified-svg/case.svg' %}" alt="" width="" height="">
                            <p class="see-more">{% blocktrans %}Не надо думать об организации процессов доставки, монтажа, установки, покупки расходных материалов, а затем контролировать процесс пуск-наладки. Все перечисленные задачи мы организуем за Вас, предоставив в конечном варианте готовое решение ваших идей, а качество товаров позволяет Вам быть уверенным в них на долгое время.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
                <hr class="uk-margin-medium">
                <div class="uk-padding uk-padding-remove-vertical">
                    <div class="uk-grid about-grid uk-child-width-1-2@m">
                        <div>
                            <div class="team">
                                <h2>{% trans 'Партнерство' %}</h2>
                                <p>{% blocktrans %}Мы всегда открыты к плодотворному и выгодному сотрудничеству. Информацию о том, как стать нашим партнером, Вы можете узнать, обратившись к нам удобным для Вас способом.{% endblocktrans %}</p>
                                {#<h4 class="uk-margin-medium-top">{% trans 'Контакты для сотрудничества' %}</h4>#}
                                {#<ul>#}
                                    {#<li>{{ settings.phone }}</li>#}
                                    {#<li>{{ email }}</li>#}
                                {#</ul>#}
                            </div>
                        </div>
                        <div>
                            <div class="shipping-and-delivery">
                                <h2>{% trans 'Покупки, заказы' %}</h2>
                                <p class="see-more">
                                    {% blocktrans %}
                                        Для консультации по заказу оборудования или реализации проекта воспользуйтесь помощью наших специалистов, которые тщательно изучат Ваш запрос. При необходимости мы обследуем объект и предоставим предложение, учитывая все нормы и специфики Вашего пожелания, составим сметы на оборудование, материалы и работы. Проследим за Вашим заказом до полного его завершения, предоставив всю необходимую документацию.
                                    {% endblocktrans %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}