{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Наши услуги{% endblock %}


{% block content %}
    <div class="crumbs">
        <div class="uk-container">
            <ul>
                <li><a href="{% url 'client_app:index' %}">ГЛАВНАЯ</a>
                </li>
                <li><span>НАШИ УСЛУГИ</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="all-project-box uk-margin-large">
        <div class="uk-container">
            <h1>Наши услуги</h1>
            <div class="project-grid-item uk-margin">
                <div class="uk-grid uk-grid-small uk-child-width-1-3@m uk-grid-match" data-uk-grid>
                    {% for service in services %}
                        <div>
                            <div class="project-item uk-position-relative">
                                <div class="img-wrapper uk-cover-container">
                                    <a class="link uk-position-cover" href="{% url 'categories:service' slug=service.slug %}"></a>
                                    {% if service.thumbnail %}
                                        <img src="{{ service.thumbnail.url }}" alt="{{ service.title }}" data-uk-cover>
                                    {% endif %}
                                </div>
                                <div class="title">
                                    {#<p style="background-image: none; padding-left: 0;">{{ service.description|safe|slice:"0:30" }}...</p>#}
                                    <h2><a href="{% url 'categories:service' slug=service.slug %}">{{ service.title }}</a></h2>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--sponsor componet-->
{% endblock %}