{% extends 'base.html' %}

{% block title %}Корзина{% endblock %}

{% load widget_tweaks %}

{% block content %}
    <div class="basket-page">
        <div class="uk-container">

            <div class="basket-container">
                <div class="title">
                    <h4>Корзина</h4>
                    <span class="underline"></span>
                </div>

                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                        <tr class="table-head">
                            <th class="uk-width-1-2">Товары</th>
                            <th>Цена</th>
                            <th>Скидка</th>
                            <th>Количество</th>
                            <th>Итого</th>
                        </tr>
                        </thead>
                        <tbody id="basket-items">
                        {% for item in basket %}
                            <tr>
                                <td class="b-product-img">
                                    <div class="img-container">
                                        {% if item.product.main_image %}
                                            <img src="{{ item.product.main_image.url }}" alt="image" />
                                        {% else %}
                                            <img src="https://placehold.it/130x134" alt="" />
                                        {% endif %}
                                    </div>

                                    <p><a href="{% url 'products:product_single' product_slug=item.product.slug %}">{{ item.product.title }}</a></p>
                                </td>
                                <td>{{ item.product.price }} сом</td>
                                <td>{{ item.product.discount }}%</td>
                                <td>
                                    <div class="product-amount">
                                        <button class="decrease">-</button>
                                        <input type="text" class="increase_decrease" placeholder="" data-link="{% url 'orders:add_count' b_id=item.id %}" data-price="{{ item.product.get_price }}" value="{{ item.count }}" style="width: 38px;"/>
                                        <button class="increase">+</button>
                                    </div>
                                </td>
                                <td class="last-cell"><span class="basket-row-product-subtotal-price"{% if item.product.is_stock %} uk-tooltip="title: Цена с учетом скидки составляет {{ item.product.get_price }} сом за одну"{% endif %}>{{ item.row_price }}</span> сом <span class="delete-product remove-basket-item-trigger" data-url="{% url 'orders:basket_remove' b_id=item.id %}"></span></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">Ваша корзина пуста...</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="total-container">
                    <p>итого к оплате: <span><span id="basket-total-price">{{ total_price }}</span> сом</span></p>
                    <button class="uk-button uk-button-default" uk-toggle="#modal-center">Оформить заказ</button>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-flex-top" uk-modal id="dialog-clean-basket">
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <h2 class="uk-modal-title">Отчистить корзину?</h2>

            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Нет</button>
                <button class="uk-button uk-button-primary" type="button" id="clear-basket-button" data-url="{% url 'orders:clean_basket' %}">Отчистить</button>
            </p>
        </div>
    </div>

    <div id="modal-center" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical order-modal">

            <button class="uk-modal-close-default" type="button" uk-close></button>

            <form action="{% url 'orders:ajax_checkout' %}" method="POST" id="checkout-form">
                <fieldset class="uk-fieldset">

                    <legend class="uk-legend">Оформление заказа</legend>

                    <div class="uk-margin">
                        {% if form.name.error_messages %}
                            {% render_field form.name class="uk-input uk-form-danger" type="text" placeholder="Ф.И.О" %}
                        {% else %}
                            {% render_field form.name class="uk-input" type="text" placeholder="Ф.И.О" %}
                        {% endif %}
                    </div>

                    <div class="uk-margin">
                        {% if form.email.error_messages %}
                            {% render_field form.email class="uk-input uk-form-danger" type="email" placeholder="E-mail" %}
                        {% else %}
                            {% render_field form.email class="uk-input" type="email" placeholder="E-mail" %}
                        {% endif %}
                    </div>

                    <div class="uk-margin">
                        {% if form.phone.error_messages %}
                            {% render_field form.phone class="uk-input uk-form-danger" type="number" placeholder="Телефон" %}
                        {% else %}
                            {% render_field form.phone class="uk-input" type="number" placeholder="Телефон" %}
                        {% endif %}
                    </div>

                    <div class="uk-margin">
                        {% if form.address.error_messages %}
                            {% render_field form.address class="uk-input uk-form-danger" type="text" placeholder="Адрес доставки" %}
                        {% else %}
                            {% render_field form.address class="uk-input" type="text" placeholder="Адрес доставки" %}
                        {% endif %}
                    </div>

                    <button class="uk-button uk-button-default" type="submit">Заказать</button>

                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : "";
        }

        $(document).ready(function () {
            var removeFromBasket = $('.remove-basket-item-trigger');
            removeFromBasket.each(function () {
                $(this).on('click', function (e) {
                    e.preventDefault();
                    var $this = $(this);

                    startLoading();

                    $.ajax({
                        url: $this.attr('data-url'),
                        method: 'GET',
                        dataType: 'JSON',
                        success: function (response) {
                            updateBasketTotalPrice();
                            $this.parent().parent().fadeOut('slow', function () {
                                $(this).remove();
                            });
                            UIkit.notification({
                                'status': 'success',
                                'pos': 'top-right',
                                'message': response.message,
                                'timeout': 2000
                            });


                            stopLoading();
                        },
                        error: function () {

                            stopLoading();

                            UIkit.notification({
                                'status': 'danger',
                                'pos': 'top-right',
                                'message': 'Произошла неизвестная ошибка',
                                'timeout': 2000
                            });
                        }
                    });
                });
            });
        });


        function updateBasketTotalPrice() {
            var link = '{% url 'orders:get_total_basket_price' %}';
            var basketTotalPriceHolder = $('#basket-total-price');

            $.ajax({
                url: link,
                method: 'GET',
                dataType: 'JSON',
                success: function (response) {
                    var totalPrice = response.total_price;
                    if (totalPrice.toString().includes('.'))
                        totalPrice = totalPrice.toString().replace('.', ',');
                    else
                        totalPrice = totalPrice.toString() + ',0';
                    basketTotalPriceHolder.html(totalPrice);
                    $('#abstract-basket-count').html(response.product_count);
                }
            });
        }


        $(document).ready(function () {
            var countInput = $('.increase_decrease');

            countInput.each(function () {
                var $this = $(this);
                $this.on('change', function (e) {
                    $.ajax({
                        url: $this.attr('data-link'),
                        method: 'POST',
                        dataType: 'JSON',
                        data: {
                            'count': $this.val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function (response) {
                            if (response.success) {
                                var priceContainer = $this.parent().parent().parent().find('span.basket-row-product-subtotal-price');
                                var productPrice = $this.attr('data-price').replace(',', '.');
                                var subtotal = parseInt($this.val()) * parseFloat(productPrice);
                                if (!subtotal.toString().includes('.'))
                                    subtotal = subtotal + ',0';
                                else
                                    subtotal = subtotal.toString().replace('.', ',');
                                priceContainer.html(subtotal);
                                updateBasketTotalPrice();
                            } else {
                                UIkit.notification({
                                    message: response.message,
                                    pos: 'top-right',
                                    status: 'danger',
                                    timeout: 2000
                                });
                            }
                        },
                        error: function () {
                            UIkit.notification({
                                message: 'Произошла ошибка при обновлении корзины, попробуйте позже',
                                pos: 'top-right',
                                status: 'danger',
                                timeout: 2000
                            });
                        }
                    });
                });

                var increase = $this.parent().find('.increase');
                var decrease = $this.parent().find('.decrease');

                increase.on('click', function (e) {
                    e.preventDefault();
                    var val = $this.val();
                    val++;
                    $this.val(val);
                    $this.trigger('change');
                 });

                decrease.on('click', function (e) {
                    e.preventDefault();
                    var val = $this.val();
                    if (val > 0)
                        val--;
                    $this.val(val);
                    $this.trigger('change');
                 });
            });


            $('#clear-basket-button').on('click', function (e) {
                e.preventDefault();
                var that = $(this);

                startLoading();

                $.ajax({
                    url: that.attr('data-url'),
                    method: 'GET',
                    dataType: 'JSON',
                    success: function (response) {
                        UIkit.notification({
                            message: response.message,
                            pos: 'top-right',
                            status: 'success',
                            timeout: 2000
                        });
                        $('#basket-items').html('<tr>' +
                            '<td colspan="5"><p>Ваша корзина пуста</p></td>' +
                            '</tr>');
                        updateBasketTotalPrice();
                        UIkit.modal($('#dialog-clean-basket')).hide();
                        stopLoading();
                    }
                });
            });

            $('#checkout-form').on('submit', function (e) {
                e.preventDefault();

                startLoading();

                var $this = $(this);
                var data = {
                    csrfmiddlewaretoken: getCookie('csrftoken')
                };

                var inputs = $this.find('input');

                for (var i=0; i < inputs.length; ++i) {
                    data[$(inputs[i]).attr('name')] = $(inputs[i]).val();
                }

                var url = $this.attr('action');
                var method = $this.attr('method');

                $.ajax({
                    url: url,
                    method: method,
                    dataType: 'JSON',
                    data: data,
                    success: function (response) {
                        stopLoading();
                        if (response.success) {
                            UIkit.notification({
                                message: response.message,
                                status: 'success',
                                pos: 'top-right',
                                timeout: 2000
                            });
                            UIkit.modal($this.parent().parent()).hide();
                            UIkit.modal($('#dialog-clean-basket')).show();
                        } else {
                            UIkit.notification({
                                message: response.message,
                                status: 'danger',
                                pos: 'top-right',
                                timeout: 2000
                            });
                        }
                    },
                    error: function () {
                        stopLoading();
                        UIkit.notification({
                            message: 'Не удалось установить соединение с сервером! Попробуйте позже!',
                            status: 'danger',
                            pos: 'top-right',
                            timeout: 2000
                        });
                    }
                });
            });

        });
    </script>
{% endblock %}