{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Хит продаж{% endblock %}

{% block content %}
    <div class="category-page discounts-page">
        <div class="uk-container">
            <div uk-grid>
                <div class="uk-width-1-3">

                </div>

                <div class="uk-width-2-3">
                    <div class="uk-grid-small uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-2@s products" uk-grid>
                        {% include 'app/partial/product-list-div.html' with products=products %}
                    </div>

                    {% include 'app/partial/pagination.html' with pagination=products %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}