{% extends 'base.html' %}

{% load staticfiles works_helper i18n %}

{% block title %}{% trans 'Каталог' %}{% endblock %}

{% block css %}
    <style>
        .collapse-content-link {
            color: #dcd3d3 !important;

            -webkit-transition: color 0.5s;
            -moz-transition: color 0.5s;
            -ms-transition: color 0.5s;
            -o-transition: color 0.5s;
            transition: color 0.5s !important;
        }
        .collapse-content-link:hover {
            color: #ffffff !important;
        }
        .collapse-content-link.active {
            color: #ffffff !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="crumbs">
            <div class="uk-container">
                <ul>
                    <li>
                        <a href="{% url 'client_app:index' %}">{% trans 'ГЛАВНАЯ' %}</a>
                    </li>
                    <li>
                        <span>{% trans 'КАТАЛОГ' %}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="all-product-box uk-margin-large">
            <div class="uk-container">
                <h1>{% trans 'Продукция' %}</h1>
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-1-4@m">
                        <div class="filter-item">
                            <ul uk-accordion>
                                {% for cat in categories %}
                                    <li class="item{% if cat.slug == current_category %} uk-open{% endif %}"><a class="uk-accordion-title" href="#" onclick="window.location.href = '{% url 'products:list_category' category_slug=cat.slug %}'"> {{ cat.title|divide_cat_name|safe }}</a>
                                        <div class="uk-accordion-content">
                                            {% for sub_cats in cat.sub_categories %}
                                                <div>
                                                    <a href="{% url 'products:list_category' category_slug=sub_cats.slug %}" class="collapse-content-link{% if sub_cats.slug == sub_category %} active{% endif %}">{{ sub_cats.title }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="uk-width-expand@m">
                        <div class="product-grid-item uk-margin">
                            <div class="uk-grid uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-grid-match" data-uk-grid>
                                {% for product in products %}
                                    <div>
                                        <div class="item uk-position-relative">
                                            <a class="uk-position-cover link" href="{% url 'products:product_single' product_slug=product.slug %}"></a>
                                            <div class="img-wrapper uk-cover-container">
                                                <img src="{{ product.main_image.url }}" alt="{{ product.title }}">
                                            </div>
                                            <div class="title">
                                                <h2>{{ product.title }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="uk-margin">
                                {% include 'app/partial/pagination.html' with pagination=products %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

