{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <div class="category-page">
        <div class="uk-container">
            <div uk-grid>
                <div class="uk-width-1-3@l uk-width-1-3@m uk-width-1-3@s uk-width-1-1 filters-block">

                    <div class="filters">
                        <form action="#">
                            <h4>Фильтр</h4>

                            <div class="uk-form-controls">
                                <label>Акции <input class="uk-checkbox filter-item" type="checkbox" data-value="is_promotion"></label>
                                <label>Скидки <input class="uk-checkbox filter-item" type="checkbox" data-value="is_stock"></label>
                                <label>Хит продаж <input class="uk-checkbox filter-item" type="checkbox" data-value="best_seller"></label>
                            </div>

                            <h4>Бренд</h4>

                            <div class="uk-form-controls brands">
                                {% for b in brands %}
                                    <label>{{ b.title }} <input class="uk-checkbox brand-item" type="checkbox" data-value="{{ b.id }}"></label>
                                {% endfor %}
                            </div>

                            <div class="btn-container">
                                <button class="uk-button uk-button-default filter-btn">Найти</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="uk-width-2-3@l uk-width-2-3@m uk-width-2-3@s uk-width-1-1 list-products-block">
                    <div class="sort">
                        <div class="sort-items">
                            <label><input class="uk-checkbox sort-item" data-value="best_seller" type="radio" name="sorting"{% if sorting == 'best_seller' %} checked{% endif %}>По популярности</label>
                            <label><input class="uk-checkbox sort-item" data-value="title" type="radio" name="sorting"{% if sorting == 'title' %} checked{% endif %}>По алфавиту</label>
                            <label><input class="uk-checkbox sort-item" data-value="price" type="radio" name="sorting"{% if sorting == 'price' %} checked{% endif %}>По цене</label>
                        </div>
                        <div class="price-range">
                            <span>Цена:</span>
                            <div class="uk-form-controls">
                                <input class="uk-input{% if sorting != 'price' %} uk-disabled{% endif %}"{% if sorting != 'price' %} disabled{% endif %} type="text" placeholder="от" value="{{ min_price }}" id="id_min_price">
                                <input class="uk-input{% if sorting != 'price' %} uk-disabled{% endif %}"{% if sorting != 'price' %} disabled{% endif %} type="text" placeholder="до" value="{{ max_price }}" id="id_max_price">
                            </div>
                        </div>
                    </div>

                    <div class="uk-grid-small uk-child-width-1-3@l uk-child-width-1-2@m products" uk-grid uk-height-match="target: > div" id="main-wrapper">
                        {% include 'app/partial/product-list-div.html' with products=products %}
                    </div>

                    {% include 'app/partial/pagination.html' with pagination=products %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/sort.utils.js' %}"></script>
    <script>
        $(document).ready(function () {
            var urlUtils = new UrlUtils();
            var sortItems = $('.sort-item');
            var filterItems = $('.filter-item');
            var brands = $('.brand-item');
            var priceRange = {
                minPrice: $('#id_min_price'),
                maxPrice: $('#id_max_price')
            };

            sortItems.each(function (i, obj) {
                $(obj).on('change', function () {
                    window.location.href = '?sorting=' + $(obj).attr('data-value');
                })
            });

            brands.each(function (i, obj) {
                $(obj).on('change', applyFilters);
            });

            filterItems.each(function (i, obj) {
                $(obj).on('change', applyFilters);
            });

            priceRange.minPrice.on('input', applyFilters);
            priceRange.maxPrice.on('input', applyFilters);

            function applyFilters(e) {
                var data = {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };

                if (parseFloat(priceRange.minPrice.val().replace(',', '.')) > 0.0) {
                    data.min_price = priceRange.minPrice.val().replace(',', '.')
                }

                if (parseFloat(priceRange.maxPrice.val().replace(',', '.')) > 0.0) {
                    data.max_price = priceRange.maxPrice.val().replace(',', '.')
                }
                var _brands = [];
                for (var i=0; i < brands.length; ++i) {
                    if ($(brands[i]).prop('checked')) {
                        _brands.push(parseInt($(brands[i]).attr('data-value')));
                    }
                }
                data.brands = JSON.stringify(_brands);

                var props = [];
                for (var k=0; k < filterItems.length; ++k) {
                    if ($(filterItems[k]).prop('checked')) {
                        props.push($(filterItems[k]).attr('data-value'))
                    }
                }
                data.misc = JSON.stringify(props);

                $.ajax({
                    url: window.location.href,
                    method: 'POST',
                    dataType: 'HTML',
                    data: data,
                    success: function (response) {
                        $('#main-wrapper').html(response);
                        setIconButtons();
                    }
                });
            }
        });
    </script>
{% endblock %}