{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Избранные товары{% endblock %}

{% block content %}
    <div class="favourite-page">
        <div class="uk-container">

            <div class="favourite-products">
                <div class="title">
                    <h4>Избранное</h4>
                    <span class="underline"></span>
                </div>

                <div class="uk-grid-small uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-2@s uk-child-width-1-1 products" uk-grid
                     uk-height-match="target: > div > .uk-card">
                    {% include 'app/partial/product-list-div.html' with products=products in_favorite_page=True %}
                </div>

                {#            <ul class="uk-pagination uk-flex-center" uk-margin>#}
                {#                <li><a href="#"><span uk-pagination-previous></span></a></li>#}
                {#                <li><a href="#">1</a></li>#}
                {#                <li class="uk-disabled"><span>...</span></li>#}
                {#                <li><a href="#">4</a></li>#}
                {#                <li><a href="#">5</a></li>#}
                {#                <li><a href="#">6</a></li>#}
                {#                <li class="uk-active"><span>7</span></li>#}
                {#                <li><a href="#">8</a></li>#}
                {#                <li><a href="#">9</a></li>#}
                {#                <li><a href="#">10</a></li>#}
                {#                <li class="uk-disabled"><span>...</span></li>#}
                {#                <li><a href="#">20</a></li>#}
                {#                <li><a href="#"><span uk-pagination-next></span></a></li>#}
                {#            </ul>#}
            </div>
        </div>
    </div>
{% endblock %}