{% extends 'base.html' %}
{% load staticfiles widget_tweaks i18n product_template_helpers %}
{% load doublegis %}
{% block css %}
    <style>
        .map_canvas_wrapper {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block title %}{% trans 'Контакты' %}{% endblock %}

{% block content %}
    <div class="contact-box uk-margin-large">
        <div class="uk-container">
            <div class="uk-grid uk-child-width-1-2@m" data-uk-grid>
                <div class="left-side">
                    <h2>{% trans 'Контактные данные' %}</h2>
                    {% for f in affiliates %}
                        <ul>
                            <li>
                                <span>{% trans 'АДРЕС ОФИСА' %}</span>
                                <h4>{{ f.address }}</h4>
                            </li>
                            <li>
                                <span>{% trans 'ЭЛЕКТРОННАЯ ПОЧТА' %}</span>
                                <h4>{{ f.email }}</h4>
                            </li>
                            <li>
                                <span>{% trans 'ТЕЛЕФОНЫ' %}</span>
                                <div>
                                    {% for item in f.phone|json_decode %}
                                        <a href="tel:{{ item.text }}">{{ item.text }}</a>
                                        {% if forloop.counter < f.phone|json_decode|length %},{% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                            <li>
                                <div class="social-btn">
                                    <a class="uk-margin-small-right" href="{{ settings.instagram }}">
                                        <img src="{% static 'img/minified-svg/instagram.svg' %}" alt="" width="20">
                                    </a>
                                    <a class="uk-margin-small-right" href="{{ settings.facebook }}">
                                        <img src="{% static 'img/minified-svg/facebook-logo.svg' %}" alt="" width="10">
                                    </a>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
                <div class="right-side">
                    <h2>{% trans 'Метка на карте' %}</h2>
                    <div style="width: 100%; height: 450px">
                        {% render_map affiliates.first.get_all_locations width="100%" height="100%" %}
                    </div>
                    {#                        <form action="{% url 'client_app:feedback' %}" method="POST" class="feedback-form">#}
                    {#                            <div class="uk-margin">#}
                    {#                                <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid>#}
                    {#                                    <div>#}
                    {#                                        <div class="uk-position-relative"><span class="label">{% trans 'Имя' %}</span>#}
                    {#<input class="uk-input" type="text">#}
                    {#                                            {% render_field feedback_form.first_name class='uk-input' %}#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                    <div>#}
                    {#                                        <div class="uk-position-relative"><span class="label">{% trans 'Почта' %}</span>#}
                    {#<input class="uk-input" type="text">#}
                    {#                                            {% render_field feedback_form.email class='uk-input' %}#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="uk-margin">#}
                    {#                                <div class="uk-position-relative"><span class="label">{% trans 'Телефон' %}</span>#}
                    {#<input class="uk-input" type="text">#}
                    {#                                    {% render_field feedback_form.phone_number class='uk-input' %}#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="uk-margin">#}
                    {#                                <div class="uk-position-relative"><span class="label">{% trans 'Описание проекта' %}</span>#}
                    {#<textarea class="uk-textarea" rows="3"></textarea>#}
                    {#                                    {% render_field feedback_form.message class='uk-textarea' rows=3 %}#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            <div class="uk-margin">#}
                    {#                                <button class="uk-button" type="submit">{% trans 'Отправить' %}</button>#}
                    {#                            </div>#}
                    {#                        </form>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block js %}#}
{#    <script async defer#}
{#            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHFQIQAbbG3k34jXG-reyvJ8YUyCSIYO0&callback=initMap&libraries=places"></script>#}
{#    <script>#}
{#        var map = null;#}
{#        var markers = [];#}
{#        var bishkek = {lat: 42.870162, lng: 74.577390};#}
{#        var affiliates = [#}
{#            {% for item in affiliates %}#}
{#                {#}
{#                    lat: parseFloat('{{ item.location.latitude }}'.replace(',', '.')),#}
{#                    lng: parseFloat('{{ item.location.longitude }}'.replace(',', '.'))#}
{#                }{% if forloop.counter < affiliates.count %},{% endif %}#}
{#            {% endfor %}#}
{#        ];#}
{##}
{#        if (affiliates.length > 0) {#}
{#            bishkek = affiliates[0];#}
{#        }#}
{##}
{#        function initMap() {#}
{#            map = new google.maps.Map(document.getElementById('map'), {#}
{#                center: bishkek,#}
{#                zoom: 15,#}
{#                mapTypeId: google.maps.MapTypeId.TERRAIN#}
{#            });#}
{##}
{#            for (var i = 0; i < affiliates.length; ++i) {#}
{#                addAdMarker(affiliates[i], map);#}
{#            }#}
{#        }#}
{##}
{#        function addAdMarker(location, map) {#}
{#            var marker = new google.maps.Marker({#}
{#                position: location,#}
{#                map: map#}
{#            });#}
{#            markers.push(marker);#}
{#        }#}
{#    </script>#}
{#{% endblock %}#}
