{% extends 'base.html' %}

{% block title %}Интеграция систем{% endblock %}

{% block content %}
    <div class="stocks-page">
        <div class="uk-container">

            <div class="stocks-products">
                <div class="title">
                    <h4>Импортировать или экспортировать данные базы</h4>
                    <span class="underline"></span>
                </div>

                <div class="stock-slider">
                    <div class="uk-position-relative">
                        <h5 style="color: #000;">Последнее обновление</h5>
                        <p class="uk-heading-line">Последняя скачка: {{ last_download_info.user.get_full_name }} - {{ last_download_info.created_at|date:"d M Y г. H:i" }}</p>
                        <a class="uk-button uk-button-primary" id="download-button" href="{% url 'products:download_data' %}" target="_blank">Скачать EXCEL</a>
                    </div>
                    <div class="uk-position-relative uk-margin-medium-top">
                        <div class="uk-alert uk-alert-danger" id="errors" style="display: none;">

                        </div>
                        <div class="uk-alert uk-alert-success" id="messages" style="display: none;">

                        </div>
                        <h5 style="color: #000;">Загрузить данные</h5>
                        <p class="uk-heading-line">Последняя загрузка: {{ last_upload_info.user.get_full_name }} - {{ last_upload_info.created_at|date:"d M Y г. H:i" }}</p>
                        <label for="file-input" class="uk-button uk-button-primary">Выберите файл</label>
                        <input type="file" style="display: none;" id="file-input" data-url="{% url 'products:upload_data' %}" />
                    </div>

                </div>

{#                <div class="uk-section stock-section">#}
{#                    <div class="uk-container">#}
{#                        <div class="uk-position-relative uk-light" uk-slider>#}
{##}
{#                            <ul class="uk-slider-items uk-child-width-1-3 uk-grid"#}
{#                                uk-height-match="target: > li > .uk-card > h4">#}
{#                                {% include 'app/partial/product-list.html' with products=products %}#}
{#                            </ul>#}
{##}
{#                            <a class="uk-position-center-left uk-position-small uk-hidden-hover sl-arrow" href="#"#}
{#                               uk-slidenav-previous uk-slider-item="previous"></a>#}
{#                            <a class="uk-position-center-right uk-position-small uk-hidden-hover sl-arrow" href="#"#}
{#                               uk-slidenav-next uk-slider-item="next"></a>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var input = $('#file-input');

            input.on('change', function () {
                var data = new FormData();
                data.append('file', this.files[0]);
                data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                var url = $(this).attr('data-url');

                var successAlert = $('#messages');
                var errorAlert = $('#errors');

                $.ajax({
                    url: url,
                    method: 'POST',
                    dataType: 'JSON',
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.success) {
                            if (response.messages) {
                                for (var i=0; i < response.messages.length; ++i) {
                                    successAlert.append('<p>' + response.messages[i] + '</p>');
                                }
                                successAlert.fadeIn();
                            }
                            input.val(null);
                        } else {
                            errorAlert.html('<p>' + response.message + '</p>');
                            errorAlert.fadeIn();
                        }
                    },
                    error: function () {
                        UIKit.notification({
                            message: 'Произошла неизвестная ошибка! Попробуйте позже! Похоже что это связано с интернет соединением',
                            status: 'danger',
                            pos: 'top-right',
                            timeout: 10000
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}