{% extends 'base.html' %}

{% load works_helper i18n %}

{% block title %}{% trans 'Наши работы' %}{% endblock %}

{% block css %}
    <style>
        .project-item .title h2 a:hover {
            color: #ae2047 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="crumbs">
            <div class="uk-container">
                <ul>
                    <li>
                        <a href="{% url 'client_app:index' %}">{% trans 'ГЛАВНАЯ' %}</a>
                    </li>
                    <li>
                        <span>{% trans 'РАБОТЫ' %}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="all-project-box uk-margin-large">
            <div class="uk-container">
                <h1>{% trans 'Работы' %}</h1>
                <div class="filter-item uk-grid uk-grid-collapse uk-child-width-1-5@l uk-child-width-1-3@m uk-child-width-1-2@s uk-width-1-1" data-uk-grid>
                    {% for cat in categories %}
                        <div class="item{% if service_slug %}{% if cat.slug == service_slug %} active{% endif %}{% else %}{% endif %}">
                            <a href="{% url 'works:category' category_slug=cat.slug %}">{{ cat.title|divide_cat_name|safe }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="project-grid-item uk-margin">
                    <div class="uk-grid uk-grid-small uk-child-width-1-2@m uk-grid-match" data-uk-grid id="projects-wrapper">
                        {% include 'app/partial/projects-list.html' with projects=projects %}
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button see-more" data-page="1" id="load-more-projects">{% trans 'Показать еще' %}</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function (e) {
            var loadMoreButton = $('#load-more-projects');
            var projectsWrapper = $('#projects-wrapper');

            loadMoreButton.on('click', function (e) {
                e.preventDefault();
                var $this = $(this);
                var page = parseInt($this.attr('data-page'), 10);
                page++;
                $this.attr('data-page', page);
                $this.html('{% trans 'Загрузка...' %}');

                var data = {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    page: page
                };

                $.ajax({
                    url: document.location.href,
                    method: 'POST',
                    dataType: 'HTML',
                    data: data,
                    success: function (response) {
                        if (response !== '') {
                            projectsWrapper.append(response);
                            $this.html('{% trans 'Показать еще' %}');
                        } else {
                            UIkit.notification({
                                message: '{% trans 'Достигнута последняя страница' %}',
                                status: 'warning',
                                pos: 'bottom-left',
                                timeout: 3000
                            });
                            $this.fadeOut('slow');
                        }
                    },
                    error: function () {
                        $this.html('{% trans 'Показать еще' %}');
                        UIkit.notification({
                            message: '{% trans 'Произошла не известная ошибка' %}',
                            status: 'danger',
                            pos: 'bottom-left',
                            timeout: 3000
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}