{% extends 'base.html' %}

{% block title %}Помощь{% endblock %}

{% block content %}
    <div class="help-page">
        <div class="uk-container">
            <div class="help-container">
                <div class="title">
                    <h4>Помощь</h4>
                    <span class="underline"></span>
                </div>


                <div uk-grid>
                    <div class="uk-width-auto@l uk-width-auto@m">
                        <ul class="uk-tab-left" uk-tab="connect: #component-tab-left; animation: uk-animation-fade">
                            {% for item in info %}
                                <li><a href="#">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="uk-width-expand@l uk-width-expand@m">
                        <ul id="component-tab-left" class="uk-switcher">
                            {% for item in info %}
                                <li>
                                    <h4>{{ item.title }}</h4>
                                    {{ item.content|safe }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

