{% extends 'base.html' %}

{% load staticfiles i18n works_helper %}

{% block title %}{% trans 'Главная' %}{% endblock %}

{% block css %}
    <style>
        .uk-dark > a {
            border-radius: 50%;
            background: #fff;
            box-shadow: 0 0 5px #ae2046;
        }

        .artical-demo .uk-slider .prev,
        .artical-demo .uk-slider .next {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-size: 18px 15px;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 15px;
            top: 40%;
            background-color: #fff;
            -webkit-transition: .3s;
            transition: .3s;
            -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.2);
            box-shadow: 0 5px 5px rgba(0,0,0,.2);;
        }

        .artical-demo .uk-slider {
            overflow: visible;
        }

        .artical-demo .uk-slider .prev {
            background-image:url({% static 'img/minified-svg/left-arrow.svg' %});
            left:-40px
        }

        .artical-demo .uk-slider .next {
            right:-40px;
            background-image:url({% static 'img/minified-svg/right-arrow.svg' %});
        }

        .production-demo .uk-slider .next {
            background-image: url({% static 'img/minified-svg/right-arrow.svg' %});
            right: -40px;
        }

        .artical-demo .grid-artical .uk-card .content {
            padding-left: 42px;
        }

        @media screen and (max-width: 640px) {
            .artical-demo .uk-slider .next,
            .artical-demo .uk-slider .prev {
                width: 30px;
                height: 30px;
                background-size: 10px;
                margin: 0 3px;
            }

            .artical-demo .uk-slider .prev {
                {#background-image:url({% static 'img/minified-svg/left-arrow.svg' %});#}
                left:-10px
            }

            .artical-demo .uk-slider .next {
                right:-10px;
                {#background-image:url({% static 'img/minified-svg/right-arrow.svg' %});#}
            }
        }
    </style>
{% endblock %}

{% block content %}
    <!--slider-delux component-->
    <div class="main-slider-delux main"
         data-uk-slideshow="animation: pull; min-height: 500; max-height: 680; autoplay: true; autoplay-interval: 3000">
        <div class="uk-container">
            <div class="title uk-flex uk-flex-middle">
                <h2>{{ strings.our_services }}</h2><a class="see-more" href="{% url 'categories:service_list' %}">Смотреть все</a>
            </div>
        </div>
        <div class="uk-position-relative">
            <div class="uk-position-relative uk-visible-toggle">
                <ul class="uk-slideshow-items">
                    {% for slide in slides %}
                        <!--slider item component-->
                        <li>
                            <div class="uk-position-cover" data-uk-slideshow-parallax="scale: 1.2,1.2,1">
                                <img data-src="{{ slide.image.url }}" alt="" data-uk-cover=""
                                     data-uk-img="target: !.uk-slideshow-items">
                            </div>
                            <div class="uk-container uk-position-cover">
                                <div class="content-slide">
                                    <div class="uk-flex middle uk-flex uk-flex-center"
                                         data-uk-slideshow-parallax="x: 500,-500">
                                        <div>
                                            <h3>{{ slide.title }}</h3>
                                            <p>{{ slide.short_description }}</p>
                                            {% if slide.link %}
                                                <a class="uk-button" href="{{ slide.link }}">Подробнее</a>
                                            {% endif %}
                                            <div class="dots-slide-item">
                                                <ul class="uk-slideshow-nav uk-dotnav uk-margin-large-top">
                                                    {% for s in slides %}
                                                        <li data-uk-slideshow-item="{{ forloop.counter0 }}">
                                                            <a href="#"></a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--slider item component-->
                    {% endfor %}
                </ul>
                <a class="prev" href="#" data-uk-slideshow-item="previous"></a>
                <a class="next" href="#" data-uk-slideshow-item="next"></a>
            </div>
        </div>
    </div>
    <!--slider-delux component-->
    <div class="main-slider-delux"
         data-uk-slideshow="animation: pull; min-height: 500; max-height: 680; autoplay: true; autoplay-interval: 3000">
        <div class="uk-container">
            <div class="title uk-flex uk-flex-middle">
                <h2>{{ strings.our_works }}</h2>
                <a class="see-more" href="{% url 'works:list' %}">{% trans 'Смотреть все' %}</a>
            </div>
        </div>
        <div class="uk-position-relative">
            <div class="uk-position-relative uk-visible-toggle">
                <ul class="uk-slideshow-items">
                    {% for project in done_projects %}
                        <!--slider item component-->
                        <li>
                            <div class="uk-position-cover" data-uk-slideshow-parallax="scale: 1.2,1.2,1">
                                <img data-src="{{ project.get_cover_image.url }}" alt="" data-uk-cover=""
                                     data-uk-img="target: !.uk-slideshow-items">
                            </div>
                            <div class="uk-container uk-position-cover">
                                <div class="content-slide">
                                    <div data-uk-slideshow-parallax="x: 500,-500"><span
                                            class="project">{% trans 'ПРОЕКТ' %}</span>
                                        <h3 style="font-size: 24px;">{{ project.title|slice:"0:43" }}{% if project.title|length > 40 %}...{% endif %}</h3>
                                        <p>{{ project.short_description }}</p>
                                        <dl class="uk-description-list">
                                            <dt>{% trans 'ГОД ИСПОЛНЕНИЯ' %}</dt>
                                            <dd>{{ project.year_of_exec }}</dd>
                                            <dt>{% trans 'ЗАКАЗЧИК' %}</dt>
                                            <dd>{{ project.customer }}</dd>
                                            <dt>{% trans 'УСЛУГИ' %}</dt>
                                            <dd{% if project.service.count > 1 %}{% endif %}>
                                                {% for service in project.service.all %}
                                                    {{ service.title }}<br/>
                                                {% endfor %}
                                            </dd>
                                        </dl>
                                        <a class="uk-button"
                                           href="{% url 'works:single' slug=project.slug %}">{% trans 'О проекте' %}</a>
                                        <div class="dots-slide-item">
                                            <ul class="uk-slideshow-nav uk-dotnav">
                                                {% for nav in done_projects %}
                                                    <li data-uk-slideshow-item="{{ forloop.counter0 }}">
                                                        <a href="#"></a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--slider item component-->
                    {% endfor %}
                </ul>
                <a class="prev" href="#" data-uk-slideshow-item="previous"></a>
                <a class="next" href="#" data-uk-slideshow-item="next">
                    <!--slider item component-->
                </a>
            </div>
        </div>
    </div>
    <!--slider-delux component-->
    <!--production-demo componet-->
    <div class="production-demo uk-margin-medium">
        <div class="uk-container">
            <div class="title uk-flex uk-flex-middle">
                <h2>{{ strings.our_production }}</h2><a class="see-more"
                                                   href="{% url 'products:list' %}">{% trans 'Смотреть все' %}</a>
            </div>
            <div class="uk-slider uk-position-relative" data-uk-slider="center: false">
                <div class="uk-position-relative uk-visible-toggle">
                    <ul class="uk-slider-items uk-grid uk-child-width-1-2@s">
                        {% for product in products %}
                            <!--production-demo item componet-->
                            <li>
                                <div class="uk-card">
                                    <div data-uk-grid>
                                        <div class="img-wrapper">
                                            <img src="{{ product.main_image.url }}" alt="{{ product.title }}">
                                        </div>
                                        <div class="content uk-width-expand@m"><span>{{ product.category.title }}</span>
                                            <h3 class="uk-card-title">{{ product.title }}</h3><a class="uk-button"
                                                                                                 href="{% url 'products:product_single' product_slug=product.slug %}">{% trans 'ПОДРОБНЕЕ' %}</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--production-demo item componet-->
                        {% endfor %}
                    </ul>
                </div>
                <a class="uk-position-center-left prev" href="#" data-uk-slider-item="previous"></a>
                <a class="uk-position-center-right next" href="#" data-uk-slider-item="next"></a>
                {#<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>#}
            </div>
        </div>
    </div>
    <!--production-demo componet-->
    <!--artical-demo componet-->
    <div class="artical-demo uk-margin-medium">
        <div class="uk-container">
            <div class="title uk-flex uk-flex-middle">
                <h2>{{ strings.posts }}</h2>
                <a class="see-more" href="{% url 'news:list' %}">{% trans 'Смотреть все' %}</a>
            </div>
            <div
                    class="uk-slider uk-position-relative"
                    data-uk-slider="center: false"
            >
                <div class="uk-position-relative uk-visible-toggle" style="overflow: hidden">
                    <div
                        class="grid-artical uk-grid uk-child-width-1-3@m uk-child-width-1-2@s uk-slider-items"
                        data-uk-grid
                        data-uk-height-match="target: &gt; div &gt; .uk-card &gt; .content h3 &gt; a, p"
                    >
                        {% for post in posts %}
                            <!--artical-demo item componet-->
                            <div>
                                <div class="uk-card">
                                    <div class="img-wrapper uk-cover-container">
                                        <a class="uk-position-cover link" href=""></a>
                                        <img src="{% if post.preview %}{{ post.preview.url }}{% endif %}" alt="{{ post.title }}"
                                             data-uk-cover>
                                    </div>
                                    <div class="content">
                                        <h3><a href="{% url 'news:single' slug=post.slug %}">{{ post.title }}</a></h3>
                                        <p>{{ post.short_description }}</p>
                                        <a class="uk-button" href="{% url 'news:single' slug=post.slug %}">{% trans 'ПОДРОБНЕЕ' %}</a>
                                    </div>
                                </div>
                            </div>
                            <!--artical-demo item componet-->
                        {% endfor %}
                    </div>
                </div>
                <a class="uk-position-center-left prev" href="#" data-uk-slider-item="previous"></a>
                <a class="uk-position-center-right next" href="#" data-uk-slider-item="next"></a>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>
    </div>
    <!--artical-demo componet-->
{% endblock %}