{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block meta %}
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:url" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ request.get_full_path }}">
    <meta property="og:description" content="{{ post.content|safe }}">
    <meta property="og:image" content="{% if post.preview %}{{ post.preview.url }}{% endif %}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="300">
    <meta property="twitter:description" content="{{ post.short_description }}">
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="crumbs">
            <div class="uk-container">
                <ul>
                    <li>
                        <a href="{% url 'client_app:index' %}">{% trans 'ГЛАВНАЯ' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'news:list' %}">{% trans 'СТАТЬИ' %}</a>
                    </li>
                    <li>
                        <span>{{ post.title }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="news-detail-box">
            <div class="banner">
                <img src="{% if post.preview %}{{ post.preview.url }}{% endif %}" alt="" uk-width-1-1>
            </div>
            <div class="uk-margin-large">
                <div class="uk-container">
                    <div class="uk-width-2-3@m uk-margin-auto">
                        <h1>{{ post.title }}</h1>
                        {{ post.content|safe }}
                        <div class="gallery uk-margin-medium">
                            <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="">
                                <ul class="uk-slideshow-items">
                                    {% for slide in post.postgalleryimage_set.all %}
                                        <li>
                                            <img src="{{ slide.image.url }}" alt="" uk-cover="">
                                        </li>
                                    {% endfor %}
                                </ul>
                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous="" uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next="" uk-slideshow-item="next"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}