{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block title %}{% trans 'Статьи' %}{% endblock %}

{% block content %}
    <div class="crumbs">
            <div class="uk-container">
                <ul>
                    <li>
                        <a href="{% url 'client_app:index' %}">{% trans 'ГЛАВНАЯ' %}</a>
                    </li>
                    <li>
                        <span>{% trans 'СТАТЬИ' %}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="all-news-box uk-margin-large">
            <div class="uk-container">
                <h1>{% trans 'Все статьи' %}</h1>
                <div class="uk-grid uk-child-width-1-3@m uk-child-width-1-2@m" data-uk-grid>
                    {% for post in news %}
                        <div>
                            <div class="item">
                                <h2><a href="{% url 'news:single' slug=post.slug %}">{{ post.title }}</a></h2>
                                <p>{{ post.short_description }}</p><a class="see-detail" href="{% url 'news:single' slug=post.slug %}">{% trans 'ПОДРОБНЕЕ' %}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="uk-margin">
                    {% include 'app/partial/pagination.html' with pagination=news %}
                </div>
            </div>
        </div>
{% endblock %}