{% extends 'base.html' %}

{% load staticfiles client_helper product_template_helpers i18n %}

{% block title %}{{ product.title }}{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ product.title }}">
    <meta property="og:description" content="{{ product.description|clean_html }}">
    <meta property="og:image" content="
            {% if product.main_image %}{% if request.is_secure %}https{% else %}http{% endif %}://
                {{ request.get_host }}{{ product.main_image.url }}{% else %}https://placehold.it/250x200{% endif %}">
{% endblock %}

{% block content %}
{#    <div class="product-page">#}
{#        <div class="uk-container">#}
{##}
{#            <div class="uk-grid-small uk-child-width-1-2@l uk-child-width-1-2@m product-container" uk-grid>#}
{#                <div>#}
                    {#                    <div class="image-zoom-container">#}
                    {#                        <img id="img_01" src="{% static 'img/sl-image.jpg' %}" alt="{{ product.title }}"#}
                    {#                             data-zoom-image="{% static 'img/sl-image.jpg' %}"/>#}
                    {##}
                    {#                        <div id="gal1">#}
                    {##}
                    {#                            <a href="#" class="small-image" data-image="{% static 'img/sl-image.jpg' %}" data-zoom-image="{% static 'img/sl-image.jpg' %}">#}
                    {#                                <img id="img_01" src="{% static 'img/sl-image.jpg' %}"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a href="#" class="small-image" data-image="{% static 'img/product-img.jpg' %}" data-zoom-image="{% static 'img/product-img.jpg' %}">#}
                    {#                                <img id="img_01" src="{% static 'img/product-img.jpg' %}"/>#}
                    {#                            </a>#}
                    {##}
                    {#                            <a href="#" class="small-image" data-image="{% static 'img/bg-img.png' %}" data-zoom-image="{% static 'img/bg-img.png' %}">#}
                    {#                                <img id="img_01" src="{% static 'img/bg-img.png' %}"/>#}
                    {#                            </a>#}
                    {##}
                    {#                        </div>#}
                    {#                    </div>#}
{##}
                    {#                    <div class="product-img-container" id="product-image-container">#}
                    {#                        <img src="{{ product.main_image.url }}" alt="{{ product.title }}">#}
                    {#                    </div>#}
{##}
{#                    <div class="product-img-slider">#}
{##}
{#                        <div uk-slideshow="min-height: 200; max-height: 600">#}
{##}
{#                            <div class="uk-position-relative uk-light">#}
{##}
{#                                <ul class="uk-slideshow-items">#}
{#                                    {% if product.main_image %}#}
{#                                        <li>#}
{#                                            <img class="my-foto" src="{{ product.main_image.url }}"#}
{#                                                 alt="{{ product.title }}"#}
{#                                                 data-zoom-image="{{ product.main_image.url }}"/>#}
{#                                        </li>#}
{#                                    {% endif %}#}
{#                                    {% for slide in product.product_image.all %}#}
{#                                        <li>#}
{#                                            <img class="my-foto" src="{{ slide.image.url }}" alt="{{ product.title }}"#}
{#                                                 data-zoom-image="{{ slide.image.url }}">#}
{#                                        </li>#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{##}
{#                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"#}
{#                                   uk-slidenav-previous uk-slideshow-item="previous"></a>#}
{#                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"#}
{#                                   uk-slidenav-next uk-slideshow-item="next"></a>#}
{##}
{#                            </div>#}
{##}
{#                            <div class="uk-margin uk-visible@s">#}
{#                                <ul class="uk-thumbnav">#}
{#                                    {% if product.main_image %}#}
{#                                        <li uk-slideshow-item="0">#}
{#                                            <a href="#"><img src="{{ product.main_image.url }}" width="100"#}
{#                                                             alt="{{ product.title }}"/></a>#}
{#                                        </li>#}
{#                                    {% endif %}#}
{#                                    {% for slide in product.product_image.all %}#}
{#                                        <li uk-slideshow-item="#}
{##}
{#                                                {% if product.main_image %}{{ forloop.counter }}{% else %}{{ forloop.counter0 }}{% endif %}">#}
{#                                            <a href="#"><img src="{{ slide.image.url }}" width="100" alt=""></a>#}
{#                                        </li>#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div>#}
{#                    <div class="product-description">#}
{#                        <ul class="path">#}
{#                            {% if product.category.parent_category %}#}
{#                                <li>#}
{#                                    <a href="{% url 'categories:parent_category' category_slug=product.category.parent_category.slug %}">{{ product.category.parent_category.title }}#}
{#                                        &nbsp; /</a></li>#}
{#                                <li>#}
{#                                    <a href="{% url 'categories:second_level_category' category_slug=product.category.parent_category.slug second_category_slug=product.category.slug %}"#}
{#                                       class="link-active">{{ product.category.title }}</a></li>#}
{#                            {% else %}#}
{#                                <li><a href="{% url 'categories:parent_category' category_slug=product.category.slug %}"#}
{#                                       class="link-active">{{ product.category.title }}</a></li>#}
{#                            {% endif %}#}
{#                        </ul>#}
{##}
{#                        <h4>{{ product.title }}</h4>#}
{#                        <h6>Короткое описание:</h6>#}
{#                        {{ product.description|safe }}#}
{#                        <div class="increase-decrease">#}
{#                            <div class="product-amount">#}
{#                                <button class="decrease">-</button>#}
{#                                <input type="text" id="p-amount" value="1" min="1" placeholder=""/>#}
{#                                <button class="increase">+</button>#}
{#                            </div>#}
{##}
{#                            <div class="product-price">#}
{#                                <p class="new-price">{{ product.get_price }} сом</p>#}
{#                                {% if product.is_stock %}#}
{#                                    <p class="old-price">{{ product.price }} сом</p>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="add-buttons">#}
{#                            <button class="uk-button uk-button-default basket-button" id="add-to-basket-button"#}
{#                                    data-url="{% url 'orders:basket_add' p_slug=product.slug %}">Добавить в корзину#}
{#                            </button>#}
{#                            <button class="uk-button uk-button-default fav-button" id="add-to-favorite"#}
{#                                    data-url="{% url 'orders:add_to_favorite' p_slug=product.slug %}">#}
{#                                {% if product.id in favorites %}Убрать из избранного{% else %}Добавить в#}
{#                                    избранное{% endif %}</button>#}
{#                        </div>#}
{##}
{#                        <div class="share-container">#}
{#                            <p>Поделиться:</p>#}
{##}
{#                            <ul class="share">#}
{#                                <li class="facebook"><a class="social"#}
{#                                                        href="https://www.facebook.com/sharer/sharer.php?u={{ link }}"#}
{#                                                        target="_blank"></a></li>#}
                                {#                                <li class="instagram"><a class="social" href="#"></a></li>#}
{#                                <li class="telegram"><a class="social"#}
{#                                                        href="https://telegram.me/share/url?url={{ link }}"#}
{#                                                        target="_blank"></a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        {% if suggested_products %}#}
{#            <div class="uk-section stock-section">#}
{#                <div class="uk-container">#}
{#                    <div class="title">#}
{#                        <h3>похожие товары</h3>#}
{#                        <span class="underline"></span>#}
{#                    </div>#}
{##}
{#                    <div class="uk-position-relative uk-light" uk-slider>#}
{##}
{#                        <ul class="uk-slider-items uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid"#}
{#                            uk-height-match="target: > li > .uk-card > h4">#}
{#                            {% include 'app/partial/product-list.html' with products=suggested_products %}#}
{#                        </ul>#}
{##}
{#                        <a class="uk-position-center-left uk-position-small uk-hidden-hover sl-arrow" href="#"#}
{#                           uk-slidenav-previous uk-slider-item="previous"></a>#}
{#                        <a class="uk-position-center-right uk-position-small uk-hidden-hover sl-arrow" href="#"#}
{#                           uk-slidenav-next uk-slider-item="next"></a>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
{#    </div>#}
    <div class="crumbs">
            <div class="uk-container">
                <ul>
                    <li>
                        <a href="{% url 'client_app:index' %}">{% trans 'ГЛАВНАЯ' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'products:list' %}">{% trans 'КАТАЛОГ' %}</a>
                    </li>
                    <li>
                        <span>{{ product.title }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-detail-box uk-margin-large">
            <div class="uk-container">
                <h1>{{ product.title }}</h1>
                <div class="uk-grid uk-child-width-1-2@m" data-uk-grid>
                    <div class="left-side">
                        <div class="uk-position-relative" uk-slideshow="animation: fade">
                            <div class="uk-grid uk-grid-small">
                                <div class="uk-width-auto" style="height: 327px; overflow: hidden;">
                                    <ul class="uk-thumbnav uk-thumbnav-vertical">
                                        {% for slide in product.get_my_images %}
                                            <li uk-slideshow-item="{{ forloop.counter0 }}">
                                                <a href="#">
                                                    <img src="{{ slide.image.url }}" width="100" alt="">
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="uk-width-expand">
                                    <ul class="uk-slideshow-items" uk-lightbox="animation: slide">
                                        {% for slide in product.get_my_images %}
                                            <li>
                                                <a href="{{ slide.image.url }}">
                                                    <img src="{{ slide.image.url }}" alt="">
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-side"><span>{{ product.category.title }}</span>
                        <h2>{{ product.title }}</h2>
                        <p>{{ product.description|safe }}</p>
                        {#<a class="uk-button" href="#modal-form" uk-toggle="">{% trans 'Заказать продукт' %}</a>#}
                    </div>
                </div>
                {#<div class="uk-flex uk-margin-medium icon-chart">#}
                    {#<img class="uk-margin-small-right uk-margin-small-bottom" src="{% static 'img/content/card.png' %}" alt="" width="100">#}
                    {#<img class="uk-margin-small-right uk-margin-small-bottom" src="{% static 'img/content/card.png' %}" alt="" width="100">#}
                    {#<img class="uk-margin-small-right uk-margin-small-bottom" src="{% static 'img/content/card.png' %}" alt="" width="100">#}
                    {#<img class="uk-margin-small-right uk-margin-small-bottom" src="{% static 'img/content/card.png' %}" alt="" width="100">#}
                    {#<img class="uk-margin-small-right uk-margin-small-bottom" src="{% static 'img/content/card.png' %}" alt="" width="100">#}
                {#</div>#}
                <div class="charact">
                    <h2>{% trans 'Характеристики' %}</h2>
                    <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid>
                        {% for prop in product.property.all %}
                            <div>{{ prop.key.title }}</div>
                            <div>{{ prop.value }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="other-project-detail-box-componet uk-margin-large">
            <div class="uk-container">
                <h4>{% trans 'Проекты в которых задействована данная продукция' %}</h4>
                <div uk-slider="">
                    <div class="uk-position-relative uk-visible-toggle">
                        <ul class="uk-slider-items uk-child-width-1-1 uk-grid uk-grid-small uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-match">
                            {% for project in projects %}
                                <li>
                                    <div class="project-item uk-position-relative">
                                        <div class="img-wrapper uk-cover-container">
                                            <a class="link uk-position-cover" href=""></a>
                                            <div class="sub-title uk-position-left-top">
                                                {% for service in project.service.all %}
                                                    <h3><a href="{% url 'categories:service' slug=service.slug %}">{{ service.title }}</a></h3>
                                                {% endfor %}
                                            </div>
                                            <img src="{{ project.get_cover_image.url }}" alt="{{ project.title }}" data-uk-cover>
                                        </div>
                                        <div class="title">
                                            <p>{{ project.address }}</p>
                                            <h2><a href="{% url 'works:single' slug=project.slug %}">{{ project.title }}</a></h2>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <a class="uk-position-center-left uk-position-small prev" href="#" uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small next" href="#" uk-slider-item="next"></a>
                    </div>
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                </div>
            </div>
        </div>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            var slideNav = $('.uk-thumbnav').parent();
            var elements = slideNav.find('ul > li');

            elements.each(function () {
                var $this = $(this);

                $this.on('click', function () {
                    var top = $this.offset().top;

                    slideNav.stop().animate({
                        scrollTop: slideNav.scrollTop() + ($this.position().top - slideNav.height() / 2 + $this.height() / 2)
                    }, 800);
                });
            });
        });
    </script>
{% endblock %}
