{% extends 'base.html' %}

{% load staticfiles client_helper %}

{% block title %}{{ promotion.title }}{% endblock %}

{% block meta %}
    <meta name="og:title" content="{{ promotion.product.title }}">
    <meta name="og:description" content="{{ promotion.product.description|clean_html }}">
    <meta name="og:image" content="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{{ promotion.product.main_image.url }}">
{% endblock %}

{% block content %}
    <div class="product-page">
        <div class="uk-container">

            <div class="uk-grid-small uk-child-width-1-2 product-container stock-container" uk-grid>
                <div>
                    <div class="product-img-container">
                        <p class="stock-title">акция действует до {{ promotion.expires_date|date:"d M Y года" }}!</p>
                        <img src="{{ promotion.product.main_image.url }}" alt="image">
                    </div>
                </div>
                <div>
                    <div class="product-description">
                        <ul class="path">
                            <li><a href="{% url 'promotions:list' %}">Акции &nbsp; /</a></li>
                            <li><a href="{% url 'promotions:single' slug=promotion.slug %}" class="link-active">Молоко</a></li>
                        </ul>

                        <h4 class="stock-offer">Акия ! {{ promotion.title }}!</h4>
                        <p>{{ promotion.description|safe }}</p>
                        <h4>{{ promotion.product.title }}</h4>
                        <h6>Короткое описание:</h6>
                        {{ promotion.product.description|safe }}
                        <div class="increase-decrease">
                            <div class="product-amount">
                                <button class="decrease">-</button>
                                <input type="text" id="p-amount" value="0" placeholder=""/>
                                <button class="increase">+</button>
                            </div>

                            <div class="product-price">
                                <p class="new-price">{{ promotion.product.get_price }} сом</p>
                                {% if product.is_stock %}
                                    <p class="old-price">{{ promotion.product.price }} сом</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="add-buttons">
                            <button class="uk-button uk-button-default basket-button" id="add-to-basket-button" data-url="{% url 'orders:basket_add' p_slug=promotion.product.slug %}">Добавить в корзину</button>
                            <button class="uk-button uk-button-default fav-button" id="add-to-favorite" data-url="{% url 'orders:add_to_favorite' p_slug=promotion.product.slug %}">{% if promotion.product.id in favorites %}Убрать из избранного{% else %}Добавить в избранное{% endif %}</button>
                        </div>

                        <div class="share-container">
                            <p>Поделиться:</p>

                            <ul class="share">
                                <li class="facebook"><a class="social" href="https://www.facebook.com/sharer/sharer.php?u={{ link }}" target="_blank"></a></li>
{#                                <li class="instagram"><a class="social" href="#"></a></li>#}
                                <li class="telegram"><a class="social" href="https://telegram.me/share/url?url={{ link }}" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% if suggestions %}
            <div class="uk-section stock-section">
                <div class="uk-container">
                    <div class="title">
                        <h3>похожие акции</h3>
                        <span class="underline"></span>
                    </div>

                    <div class="uk-position-relative uk-light" uk-slider>

                        <ul class="uk-slider-items uk-child-width-1-3 uk-grid"
                            uk-height-match="target: > li > .uk-card > h4">
                            {% include 'app/partial/product-list.html' with products=suggestions %}
                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover sl-arrow" href="#"
                           uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover sl-arrow" href="#"
                           uk-slidenav-next uk-slider-item="next"></a>

                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var addToBasketButton = $('#add-to-basket-button');
            var addToFavorite = $('#add-to-favorite');
            var count = $('#p-amount');

            addToBasketButton.on('click', function (e) {
                e.preventDefault();

                startLoading();

                var data = {
                    count: count.val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };

                var url = $(this).attr('data-url');

                $.ajax({
                    url: url,
                    method: 'POST',
                    data: data,
                    dataType: 'JSON',
                    success: function (response) {
                        stopLoading();
                        if (response.success) {
                            if (response.is_new) {
                                UIkit.notification({
                                    message: 'Товар добавлен в корзину!',
                                    pos: 'top-right',
                                    status: 'success',
                                    timeout: 5000
                                });
                                var b = $('#abstract-basket-count');
                                var count = parseInt(b.html());
                                count++;
                                b.html(count);
                            } else {
                                UIkit.notification({
                                    message: 'Количество товара обновлено!',
                                    pos: 'top-right',
                                    status: 'warning',
                                    timeout: 5000
                                });
                            }
                        } else {
                            UIkit.notification({
                                message: response.message,
                                pos: 'top-right',
                                status: 'danger',
                                timeout: 5000
                            });
                        }
                    },
                    error: function () {
                        stopLoading();
                        UIkit.notification({
                            message: 'Не удалось подключиться к серверу!',
                            pos: 'top-right',
                            status: 'danger',
                            timeout: 5000
                        });
                    }
                });
            });


            addToFavorite.on('click', function (e) {
                e.preventDefault();

                startLoading();

                var data = {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };

                var url = $(this).attr('data-url');

                $.ajax({
                    url: url,
                    method: 'POST',
                    dataType: 'JSON',
                    data: data,
                    success: function (response) {
                        stopLoading();
                        if(response.success) {
                            UIkit.notification({
                                message: response.message,
                                status: 'success',
                                pos: 'top-right',
                                timeout: 5000
                            });
                            var favorites = $('#abstract-favorite-count');
                            var count = parseInt(favorites.html());
                            if(response.mode === 'add') {
                                addToFavorite.html('Убрать из избранного');
                                count++;
                            } else {
                                addToFavorite.html('Добавить в избранное');
                                if (count > 0) count--;
                            }
                            favorites.html(count);
                        } else {
                            UIkit.notification({
                                message: response.message,
                                pos: 'top-right',
                                status: 'danger',
                                timeout: 5000
                            });
                        }
                    },
                    error: function () {
                        stopLoading();
                        UIkit.notification({
                            message: 'Не удалось подключиться к серверу!',
                            pos: 'top-right',
                            status: 'danger',
                            timeout: 5000
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}