{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Акции{% endblock %}


{% block content %}
    <div class="stocks-page">
        <div class="uk-container">

            <div class="stocks-products">
                <div class="title">
                    <h4>акции</h4>
                    <span class="underline"></span>
                </div>

                <div class="stock-slider">
                    <div class="uk-position-relative" uk-slideshow>

                        <ul class="uk-slideshow-items">
                            {% for item in promotions %}
                                <li>
                                    <a href="{% url 'promotions:single' slug=item.slug %}">
                                        <div class="uk-grid-small uk-flex-middle@l uk-flex-middle@m uk-flex-center@s sl-content" uk-grid>
                                            <div class="uk-width-1-1">
                                                <p class="stock-title">
                                                    {% if promotion.expires_date %}
                                                        акция действует до {{ item.expires_date|date:"d M Y года" }}
                                                        !
                                                    {% else %}
                                                        Акция
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="uk-width-medium@l uk-width-medium@m uk-width-medium@s uk-width-1-1">
                                                <div class="sl-img-container">
                                                    <img src="{{ item.product.main_image.url }}" alt="image">
                                                </div>
                                            </div>

                                            <div class="uk-width-expand@l uk-width-expand@m uk-width-1-1@s">
                                                <h4>{{ item.description|safe|slice:"0:50" }}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="circle"></div>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
                           uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                           uk-slideshow-item="next"></a>

                    </div>
                </div>

                {#                <div class="uk-section stock-section">#}
                {#                    <div class="uk-container">#}
                {#                        <div class="uk-position-relative uk-light" uk-slider>#}
                {##}
                {#                            <ul class="uk-slider-items uk-child-width-1-3 uk-grid"#}
                {#                                uk-height-match="target: > li > .uk-card > h4">#}
                {#                                {% include 'app/partial/product-list.html' with products=products %}#}
                {#                            </ul>#}
                {##}
                {#                            <a class="uk-position-center-left uk-position-small uk-hidden-hover sl-arrow" href="#"#}
                {#                               uk-slidenav-previous uk-slider-item="previous"></a>#}
                {#                            <a class="uk-position-center-right uk-position-small uk-hidden-hover sl-arrow" href="#"#}
                {#                               uk-slidenav-next uk-slider-item="next"></a>#}
                {##}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}