{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block title %}{% trans 'Результаты поиска по запросу' %} "{{ search_word }}"{% endblock %}

{% block content %}
    <div class="crumbs">
            <div class="uk-container">
                <ul>
                    <li>
                        <a href="{% url 'client_app:index' %}">{% trans 'ГЛАВНАЯ' %}</a>
                    </li>
                    <li>
                        <span>{% trans 'Результаты поиска' %}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="all-product-box uk-margin-large">
            <div class="uk-container">
                <h1>{% trans 'Результаты поиска по запросу' %} "{{ search_word }}"</h1>
                <div class="product-grid-item uk-margin">
                    <div class="uk-grid uk-grid-small uk-child-width-1-4@m uk-child-width-1-2@s" data-uk-grid>
                        {% for product in products %}
                            <div>
                                <div class="item uk-position-relative">
                                    <a class="uk-position-cover link" href="{% url 'products:product_single' product_slug=product.slug %}"></a>
                                    <div class="img-wrapper uk-cover-container">
                                        <img src="{{ product.main_image.url }}" alt="{{ product.title }}">
                                    </div>
                                    <div class="title">
                                        <h2>{{ product.title }}</h2>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="uk-margin">
                        {% include 'app/partial/pagination.html' with pagination=products %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}