{% extends 'base.html' %}

{% load staticfiles i18n news_helper client_helper %}

{% block meta %}
    <meta property="og:title" content="{{ service.title }}">
    <meta property="og:url" content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ request.get_full_path }}">
    <meta property="og:description" content="{{ service.description|clean_html }}">
    <meta property="og:image" content="{% if service.seo_thumbnail %}{{ service.seo_thumbnail.url }}{% endif %}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="300">
    <meta property="twitter:description" content="{{ service.short_description }}">
{% endblock %}

{% block title %}{{ service.title }}{% endblock %}

{% block content %}
    <div class="crumbs">
            <div class="uk-container">
                <ul>
                    <li>
                        <a href="{% url 'client_app:index' %}">{% trans 'ГЛАВНАЯ' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'categories:service_list' %}">{% trans 'УСЛУГИ' %}</a>
                    </li>
                    <li>
                        <span>{{ service.title }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="banner uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-left uk-flex-middle" style="background-image: url({% if service.thumbnail %}{{ service.thumbnail.url }}{% else %}{% static 'img/content/filip-mroz-538852-unsplash.jpg' %}{% endif %});">
            <div class="uk-container">
                <h1>{{ service.title }}</h1>
            </div>
        </div>
        <div class="description-box uk-margin-medium">
            <div class="uk-container">
                <div class="uk-margin-medium">
                    <h2>{% trans 'Информация об услуге' %}</h2>
                    <div class="uk-grid uk-grid-large uk-child-width-1-1@m" data-uk-grid>
                        <div style="position: relative; height: auto;">
                            {% if service.description %}
                                {{ service.description|normalize_ck|safe }}
                            {% endif %}
                        </div>
                    </div>
                    <hr class="uk-margin-large">
                    <div class="uk-margin-medium">
                        <div class="uk-grid uk-grid-large uk-child-width-1-2@m" data-uk-grid>
                            <div>
                                <h2>{% trans 'Особенности' %}</h2>
                                {% if service.features %}
                                    {{ service.features|normalize_ck|safe }}
                                {% endif %}
                            </div>
                            <div>
                                <h2>{% trans 'Примечание' %}</h2>
                                {% if service.notes %}
                                    {{ service.notes|normalize_ck|safe }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-project-detail-box-componet uk-margin-large">
            <div class="uk-container">
                <h4>{% trans 'Реализованные проекты' %}</h4>
                <div uk-slider="">
                    <div class="uk-position-relative uk-visible-toggle">
                        <ul class="uk-slider-items uk-child-width-1-1 uk-grid uk-grid-small uk-child-width-1-2@m uk-child-width-1-2@s uk-grid-match">
                            {% for work in works %}
                                <li>
                                    <div class="project-item uk-position-relative">
                                        <div class="img-wrapper uk-cover-container">
                                            <a class="link uk-position-cover" href="{% url 'works:single' slug=work.slug %}"></a>
                                            <div class="sub-title uk-position-left-top">
                                                {% for service in work.service.all %}<h3> <a href="{% url 'categories:service' slug=service.slug %}">{{ service.title }}</a> </h3>{% endfor %}
                                            </div>
                                            <img src="{{ work.get_cover_image.url }}" alt="{{ work.title }}" data-uk-cover>
                                        </div>
                                        <div class="title">
                                            <p>{{ work.short_description }}</p>
                                            <h2><a href="{% url 'works:single' slug=work.slug %}">{{ work.title }}</a></h2>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <a class="uk-position-center-left uk-position-small prev" href="#" uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small next" href="#" uk-slider-item="next"></a>
                    </div>
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                </div>
            </div>
        </div>
{% endblock %}