{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ page.title }}{% endblock %}


{% block content %}
    <div class="stocks-page product-order-page">
        <div class="uk-container">

            <div class="stocks-products">
                <div class="title">
                    <h4>{{ page.title }}</h4>
                    <span class="underline"></span>
                </div>

                <div class="stock-slider">
                    {{ page.content|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}