{% extends 'base.html' %}

{% load staticfiles i18n product_template_helpers %}

{% block title %}{{ project.title }}{% endblock %}

{% block css %}
    <style>
        @media screen and (max-width: 700px) {
            .project-detail-box-slider span {
                display: block;
                margin-bottom: 5px;
            }
        }

        .th-link {
            color: #262122;
            {#margin: 0 20px;#}
            {#font-size: 14px;#}
        }
        .th-link:hover {
            color: #ae2047;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="crumbs">
        <div class="uk-container">
            <ul>
                <li>
                    <a href="{% url 'client_app:index' %}">{% trans 'ГЛАВНАЯ' %}</a>
                </li>
                <li>
                    <a href="{% url 'works:list' %}">{% trans 'РАБОТЫ' %}</a>
                </li>
                <li>
                    <span>{{ project.title }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="project-detail-box-slider">
        <div uk-slideshow="animation: push; min-height: 400; max-height: 660">
            <div class="uk-position-relative uk-visible-toggle">
                <ul class="uk-slideshow-items">
                    {% for slide in project.galleries.all %}
                        {% for img in slide.images.all %}
                            <li class="item">
                                <img src="{{ img.image.url }}" alt="{{ project.title }}" uk-cover>
                                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                                    <span>{{ project.address }}</span>
                                    <h3>{{ project.title }}</h3>
                                    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center single-product-pagination-dots">
                                        {% for slide in project.galleries.all %}
                                            {% for img in slide.images.all %}
                                                <li>
                                                    <a href="#"></a>
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                <div class="uk-light">
                    <a class="uk-position-center-left uk-position-small prev" href="#" uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small next" href="#" uk-slideshow-item="next"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="project-detail-box-about uk-margin-large">
        <div class="uk-container">
            <div class="uk-grid" data-uk-grid>
                <div class="uk-width-1-3@m">
                    <h4>{% trans 'Описание проекта' %}</h4>
                </div>
                <div class="uk-width-expand@m">
                    <p>{{ project.description|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="project-detail-box-info uk-margin-large">
        <div class="uk-container">
            <div class="border">
                <div class="uk-grid uk-flex uk-child-width-1-4@m uk-child-width-1-2@s" data-uk-grid>
                    <div>
                        <span>{% trans 'ТИП УСЛУГИ' %}</span>
                        {% for service in project.service.all %}
                            <h3><a href="{% url 'categories:service' slug=service.slug %}" class="th-link">{{ service.title }}</a></h3>
                        {% endfor %}
                    </div>
                    <div><span>{% trans 'ГОД ИСПОЛНЕНИЯ' %}</span>
                        <h3>{{ project.year_of_exec }}</h3>
                    </div>
                    <div><span>{% trans 'ЗАКАЗЧИК' %}</span>
                        {% if project.customer_link %}
                            <h3><a href="{{ project.customer_link }}" target="_blank" class="th-link">{{ project.customer }}</a></h3>
                        {% else %}
                            <h3>{{ project.customer }}</h3>
                        {% endif %}
                    </div>
                    {#<div>#}
                        {#<a class="uk-button" href="#" uk-toggle="target: #modal-form">{% trans 'Заказать проект' %}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
    <div class="project-detail-box-componet uk-margin-large">
        <div class="uk-container">
            <h4>{% trans 'Задействованная продукция в проекте' %}</h4>
            <div uk-slider="">
                <div class="uk-position-relative uk-visible-toggle">
                    <ul class="uk-slider-items uk-child-width-1-1 uk-grid uk-grid-small uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-match">
                        {% for product in project.assigned_products.all %}
                            <li>
                                <div class="item uk-position-relative">
                                    <a class="uk-position-cover link" href="{% url 'products:product_single' product_slug=product.slug %}"></a>
                                    <div class="img-wrapper uk-cover-container">
                                        <img src="{{ product.main_image.url }}" alt="{{ project.title }}">
                                    </div>
                                    <div class="title">
                                        <h2>{{ product.title }}</h2>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <a class="uk-position-center-left uk-position-small prev" href="#" uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small next" href="#" uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>
    </div>
    <div class="other-project-detail-box-componet uk-margin-large">
        <div class="uk-container">
            <h4>{% trans 'Другие проекты' %}</h4>
            <div uk-slider="">
                <div class="uk-position-relative uk-visible-toggle">
                    <ul class="uk-slider-items uk-child-width-1-1 uk-grid uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-grid-match">
                        {% for p in same_projects %}
                            <li>
                                <div class="project-item uk-position-relative">
                                    <div class="img-wrapper uk-cover-container">
                                        <a class="link uk-position-cover" href="{% url 'works:single' slug=p.slug %}"></a>
                                        <div class="sub-title uk-position-left-top">
                                            {% for service in p.service.all %}
                                                <h3><a href="{% url 'categories:service' slug=service.slug %}">{{ service.title }}</a></h3>
                                            {% endfor %}
                                        </div>
                                        <img src="{{ p.get_cover_image.url }}" alt="{{ p.title }}" data-uk-cover />
                                    </div>
                                    <div class="title">
                                        <p>{{ p.address }}</p>
                                        <h2><a href="{% url 'works:single' slug=p.slug %}">{{ p.title }}</a></h2>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <a class="uk-position-center-left uk-position-small prev" href="#" uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small next" href="#" uk-slider-item="next"></a>
                </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var slider = $('.single-product-pagination-dots');

            slider.each(function () {
                var items = $(this).find('li');

                items.each(function (i, obj) {
                    $(obj).attr('data-uk-slideshow-item', i);
                });
            });
        });
    </script>
{% endblock %}