{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Подтверждение E-Mail{% endblock %}

{% block content %}
    <div class="stocks-page">
        <div class="uk-container">

            <div class="stocks-products">
                <div class="title">
                    <h4>Подтверждение почты</h4>
                    <span class="underline"></span>
                </div>

                <div class="stock-slider">
                    <div class="uk-position-relative">
                        <h5 style="color: #000;">Последнее обновление</h5>
                        {% for item in messages %}
                            <p>{{ item }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}