{% extends 'base.html' %}

{% block title %}Смена E-Mail{% endblock %}

{% block content %}
    <div class="room-page">
        <div class="uk-container">

            <div class="room-container">
                <div class="title">
                    <h4>Смена почты</h4>
                    <span class="underline uk-align-center"></span>
                </div>

                <div class="uk-alert{% if message.success %} uk-alert-success{% else %} uk-alert-danger{% endif %}">
                    {{ message.message }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}