{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Мои заказы{% endblock %}


{% block content %}
    <div class="order-page">
        <div class="uk-container">
    
            <div class="basket-container">
                <div class="title">
                    <h4>Мои заказы</h4>
                    <span class="underline"></span>
                </div>
    
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-middle uk-table-divider">
                        <thead>
                            <tr class="table-head">
                                <th class="uk-width-1-6">Номер заказа</th>
                                <th class="uk-width-1-6">Дата</th>
                                <th class="uk-width-1-6">Заказчик</th>
                                <th class="uk-width-1-6">Адрес доставки</th>
                                <th class="uk-width-1-6">Телефон</th>
                                <th class="uk-width-1-6">Сумма заказа</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            {% for item in order.order_items.all %}
                                <tr>
                                    <td class="b-product-img">
                                        <div class="img-container">
                                            <img src="{{ item.product.main_image.url }}" alt="image">
                                        </div>

                                        <p>{{ item.product.title }}</p>
                                    </td>
                                    <td>{{ order.created_at }}</td>
                                    <td>{{ order.user.get_full_name }}</td>
                                    <td>{{ order.address }}</td>
                                    <td>{{ order.phone }}</td>
                                    <td>{{ order.get_order_full_price }} сом</td>
                                </tr>
                            {% endfor %}
                        {% empty %}
                            <tr>
                                <td colspan="6">История заказов пуста...</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}