{% extends 'base.html' %}

{% block title %}{{ request.user.get_full_name }}{% endblock %}

{% load widget_tweaks %}

{% block content %}

    <div class="room-page">
        <div class="uk-container">

            <div class="room-container">
                <div
                        class="title"
                        style="box-sizing: border-box; padding-left: 60px;"
                >
                    <h4 style="text-align: left;">Мой профиль</h4>
                    <span class="underline"></span>
                </div>

                <form class="edit-profile" method="POST">
                    {% if messages %}
                        {% for m in messages %}
                            <div class="uk-alert uk-alert-primary">{{ m }}</div>
                        {% endfor %}
                    {% endif %}

                    <div class="uk-margin">
                        <label class="uk-form-label">Ваше имя</label>
                        <div class="uk-form-controls">
                            {% render_field form.name class="uk-input" type="text" value=request.user.get_full_name %}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label">Ваша почта</label>
                        <div class="uk-form-controls">
                            {% render_field form.email class='uk-input' type="email" value=request.user.email %}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label">Номер телефона</label>
                        <div class="uk-form-controls">
                            {% render_field form.phone class='uk-input' type='text' value=request.user.phone %}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label">Адрес</label>
                        <div class="uk-form-controls">
                            {% render_field form.address class='uk-input' type='text' value=request.user.address %}
                        </div>
                    </div>

                    <div class="uk-margin">
                        <a href="#modal-center" class="uk-button uk-button-secondary" style="background-color: #222 !important;" uk-toggle>Изменить пароль</a>
                    </div>

                    <button class="uk-button uk-button-default" type="submit" id="edit-profile-form">Сохранить</button>

                </form>
            </div>
        </div>
    </div>

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical order-modal profile-modal">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <form method="POST" action="{% url 'users:change_password' %}" id="change-password-form">
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Изменить пароль</legend>

                <div class="uk-margin">
                    <label class="uk-form-label" for="id_old_password">Текущий пароль</label>
                    <div class="uk-form-controls">
                        {% render_field change_password_form.old_password %}
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="id_new_password">Новый пароль</label>
                    <div class="uk-form-controls">
                        {% render_field change_password_form.new_password %}
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="id_re_new_password">Повторите пароль еще раз</label>
                    <div class="uk-form-controls">
                        {% render_field change_password_form.re_new_password %}
                    </div>
                </div>

                <button class="uk-button uk-button-default" type="submit">Сохранить</button>

            </fieldset>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var form = $('#change-password-form');
            var edit_form = $('#edit-profile-form');
            var csrf_token = getCookie('csrftoken');

            form.on('submit', function (e) {
                e.preventDefault();

                startLoading();

                var url = $(this).attr('action'),
                    method = $(this).attr('method'),
                    data = {},
                    inputs = $(this).find('input');

                for (var i=0; i < inputs.length; ++i) {
                    data[$(inputs[i]).attr('name')] = $(inputs[i]).val();
                }

                data.csrfmiddlewaretoken = csrf_token;

                $.ajax({
                    url: url,
                    method: method,
                    dataType: 'JSON',
                    data: data,
                    success: function (response) {
                        stopLoading();
                        if (response.success) {
                            UIkit.modal($('#modal-center')).hide();
                            UIkit.notification({
                                message: 'Пароль был изменен!',
                                status: 'success',
                                pos: 'top-right',
                                timeout: 2000
                            });
                        } else {
                            UIkit.notification({
                                message: response.message,
                                status: 'danger',
                                pos: 'top-right',
                                timeout: 2000
                            });
                        }
                    },
                    error: function () {
                        stopLoading();
                        UIkit.notification({
                            message: 'Произошла неизвестная ошибка!',
                            status: 'danger',
                            pos: 'top-right',
                            timeout: 2000
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}
