<html>
<head>
    <title>На сайте была заполнена форма</title>
    <style>
        div {
            padding: 20px 30px;
            -webkit-box-shadow: 1px 1px 0.6px #000033;
            -moz-box-shadow: 1px 1px 0.6px #000033;
            box-shadow: 1px 1px 0.6px #000033;
            font-family: "Helvetica Neue", sans-serif;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div>
        <p><b>#</b>{{ id }}</p>
        <p><b>Имя</b>: {{ first_name }}</p>
        <p><b>Телефон</b>: <a href="tel:{{ phone }}">{{ phone }}</a></p>
        <p><b>Почта</b>: <a href="mailto:{{ email }}">{{ email }}</a></p>
        <p><b>Сообщение</b>:</p>
        <p>
            {{ message }}
        </p>
        <p><b>Дата отправки</b>:{{ today|date:"d Y, Y" }}</p>
    </div>
</body>
</html>