<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый заказ!</title>
</head>
<body>
    <h1>Оформили новый заказ!</h1>
    <hr>
    <p>Перейдите по ссылке чтобы получить больше информации: <a href="{{ link }}">{{ link }}</a> </p>
</body>
</html>
