@import "../libs/uikit.css"
@import "_mixins.sass"
@import "../libs/material-design-iconic-font.css"

@include font(MaterializeIcons, Material-Design-Iconic-Font)
@include font(RobotoRegular, RobotoRegular)
@include font(RobotoBold, RobotoBold)
@include font(SegoePrint, SegoePrint)

$green: #3f9f38
$yellow: #e9b017
$black: #000

html
  font-family: 'RobotoRegular', sans-serif
  font-size: 16px
  color: $black

body
  background-color: #f9f9f9

header
  padding: 20px 0 0
  .uk-navbar-container:not(.uk-navbar-transparent)
    background-color: $green
    border-top-right-radius: 10px
    border-top-left-radius: 10px
  .uk-navbar-center:only-child
    width: 100%
  .uk-navbar-nav
    width: 100%
    justify-content: space-around
    & > li:first-child
      & > a
        background: url('../img/home-page-icon.png') 5px 44% no-repeat
    & > li:nth-child(2)
      & > a
        background: url('../img/percentage-icon.png') 5px 44% no-repeat
    & > li:nth-child(3)
      & > a
        background: url('../img/fav-page-icon.png') 5px 46% no-repeat
    & > li:nth-child(4)
      & > a
        background: url('../img/basket-page-icon.png') 5px 45% no-repeat
    & > li:last-child
      & > a
        background: url('../img/user-icon.png') 5px 46% no-repeat
    & > li > a
      color: #fff
      text-transform: uppercase
      height: 65px
      line-height: 65px
      padding-left: 35px
      @include transition
      &:hover,
      &:focus
        color: #fff
        background-color: #207c1a
    & > li.uk-active > a
      color: #fff


//-------------------------MAIN-PAGE------------------------

.main-page
  padding-bottom: 120px

h5
  font-family: 'RobotoRegular', sans-serif
  font-size: 20px
  color: #fff

.categories
  position: relative
  h5
    text-align: center
    text-transform: uppercase
    font-weight: normal
    padding: 15px 0
    border-top-left-radius: 10px
    background: $green url('../img/menu-icon.png') 30px center no-repeat
    margin-bottom: 0
    cursor: pointer
  .categories-list
    position: absolute
    top: 57px
    left: 0
    width: 100%
  ul.uk-list-divider
    background-color: #fff
    margin: 0
    padding: 10px 0
    z-index: 15
    & > li:nth-child(n+2)
      padding-top: 0
      margin-top: 0
    & > li > a
      display: block
      font-size: 15px
      color: $black
      padding: 12px 0 12px 60px
      text-transform: uppercase
      background: url('../img/down-arrow.png') 30px center no-repeat
      @include transition
      &:hover
        background-color: $green !important
        color: #fff
        text-decoration: none
      &.active-category
        background-color: $green
        color: #fff
    .uk-dropdown
      height: 442px
      overflow: auto
      box-sizing: border-box
      padding: 10px 0
      width: 100%
      max-width: 340px
      margin-left: 0
      .uk-nav
        padding-left: 0
        li a
          padding: 10px 0 10px 35px
          text-transform: uppercase
          font-size: 14px
          color: #000
          @include transition
          &:hover
            background-color: $green
            color: #fff
  ul.accordion-categories
    max-height: 500px
    overflow: auto
    background-color: #fff
    margin: 0
    padding: 10px 0
    z-index: 15
    & > li:nth-child(n+2)
      padding-top: 0
      margin-top: 0
    & > li > a
      display: block
      font-size: 15px
      color: $black
      padding: 12px 0 12px 60px
      text-transform: uppercase
      background: url('../img/down-arrow.png') 30px center no-repeat
      @include transition
    & > li.uk-open > a
      background-color: $green
      color: #ffffff
    .uk-accordion-title::after
      visibility: hidden
    .uk-accordion-content
      margin-top: 0
    .uk-nav li a
      padding-left: 60px
      color: #000

.toggleCategory
  .categories-list
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.10)
    display: none


.stock-slider
  margin-top: 0 !important
.sale-slider
  .uk-slideshow-nav
    position: relative
    bottom: 30px

.search-form
  margin-bottom: 18px
  .uk-input
    border: 1px solid transparent
    font-size: 14px
    font-weight: normal
    @include transition
    color: #000
    &:hover,
    &:focus
      border: 1px solid $green
  .uk-button
    border: 0
    height: 40px
    width: 100px
    padding: 0
    background: $green url('../img/search.png') center no-repeat


h1
  font-family: 'SegoePrint', serif
  text-transform: uppercase
  color: #fff
  font-size: 36px

@keyframes float1
  0% { transform: translateY(0) }
  25% { transform: translateY(-14px) }
  50% { transform: translateY(0) }
  100% { transform: translateY(0) }

@keyframes float2
  0% { transform: translateY(0) }
  25% { transform: translateY(-14px) }
  50% { transform: translateY(0) }
  100% { transform: translateY(0) }

@keyframes float3
  0% { transform: translateY(0) }
  25% { transform: translateY(-14px) }
  50% { transform: translateY(0) }
  100% { transform: translateY(0) }

@keyframes float4
  0% { transform: translateY(0) }
  25% { transform: translateY(-14px) }
  50% { transform: translateY(0) }
  100% { transform: translateY(0) }

.sale-section
  background-color: $yellow
  .uk-container
    padding-top: 120px
    padding-bottom: 130px
    text-align: center
    position: relative
    h1
      margin-bottom: 40px
    & > img
      position: absolute
      transform-origin: 50% 50%
    .btn:focus
      background-color: $green
      color: #fff
    .bread
      left: 20px
      top: -60px
      animation: float4 5s linear infinite
    .apple
      right: 100px
      top: -50px
      animation: float3 4s linear infinite
    .banana
      left: 200px
      bottom: -50px
      animation: float2 3s linear infinite
    .wine
      right: 300px
      bottom: -40px
      animation: float1 6s linear infinite

.btn
  background: $green url('../img/arrows.png') 82% center no-repeat
  color: #fff
  -webkit-border-radius: 25px
  -moz-border-radius: 25px
  border-radius: 25px
  border: 0
  text-transform: uppercase
  padding: 0 50px 0 40px
  @include transition
  &:hover
    background-color: #207c1a
    color: #fff

h3
  font-family: 'SegoePrint', serif
  font-size: 22px
  color: #000
  text-transform: uppercase

h4
  font-family: 'RobotoRegular', sans-serif
  font-size: 18px
  color: #171717

.title
  h3
    margin-bottom: 10px
  .underline
    display: inline-block
    width: 60px
    height: 3px
    background-color: $green
    border: 1px solid $green
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px


.stock-section
  .title
    text-align: center
    padding-bottom: 30px
  .uk-slider-items
    padding-bottom: 40px
  .sl-arrow
    width: 60px
    height: 60px
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    background-color: $yellow
    margin: 0
    padding: 0
    display: flex
    justify-content: center
    align-items: center


.uk-card-small.product
  display: block
  padding-top: 60px
  height: 100%
  .uk-cover-container
    width: 100%
    max-width: 250px
    margin: 0 auto
  .uk-card-title
    text-align: center
    font-size: 18px
    color: #171717
    padding: 0 20px
    line-height: 1.3
    margin-top: 25px
  .old-price,
  .new-price
    text-align: center
  .old-price
    color: #29282e
    text-decoration: line-through
    margin-bottom: 0
  .new-price
    font-family: 'RobotoBold', sans-serif
    font-size: 22px
    color: #c10505
    margin-top: 0
    padding-bottom: 5px
  .uk-position-top-left
    z-index: 10
    background-color: $yellow
    font-size: 18px
    text-transform: uppercase
    color: #fff
  .stock-badge
    padding: 8px 30px
  .uk-position-top-right
    span
      display: inline-block
      width: 40px
      height: 40px
      cursor: pointer
    .favourite
      background: url('../img/favorite.png') center no-repeat
    .basket
      background: url('../img/shopping-cart.png') center no-repeat
    .fav-active
      background: url('../img/fav-active.png') center no-repeat
    .basket-active
      background: url('../img/active-basket.png') center no-repeat
  .basket-badge
    padding: 0 20px 0 0

.btn-link
  text-align: center
  padding-top: 30px

footer
  background-color: #302e2e
  padding: 80px 0 100px 0
  .about
    p
      font-size: 13px
      color: rgba(255, 255, 255, 0.5)
  .help
    padding-left: 60px
  .address
    li
      color: rgba(255, 255, 255, 0.5)
  .uk-nav
    .uk-nav-header
      font-family: 'RobotoBold', sans-serif
      font-size: 16px
      color: #ffffff
  .socials
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-wrap: wrap
    margin: 32px 0 0 0
    padding: 0
    li
      background: url("../img/share-icons.png") no-repeat
      margin-right: 10px
      list-style: none
    li.social-title
      width: 100%
      font-family: RobotoBold,sans-serif
      font-size: 16px
      color: #fff
      background: none
      text-transform: uppercase
      padding-bottom: 15px
    .social
      display: block
      cursor: pointer
      width: 50px
      height: 48px
    .instagram
      background-position: -72px 0
    .telegram
      background-position: -149px 0


.register
  .uk-legend
    font-size: 22px
    color: #000
    text-align: center
    text-transform: uppercase
  .sign-in,
  .sign-up
    padding: 0 60px
    .uk-form-label
      display: inline-block
      padding-bottom: 10px
    .uk-input
      -webkit-border-radius: 12px
      -moz-border-radius: 12px
      border-radius: 12px
      font-size: 14px
      font-weight: normal
      color: #000
      padding-left: 30px
    .btn
      display: block
      width: 270px
      background-image: none
      -webkit-border-radius: 12px
      -moz-border-radius: 12px
      border-radius: 12px
      margin: 40px auto 0 auto
  .sign-in
    a.p-link
      color: #ff0000
      display: inline-block
      margin-bottom: 5px
    .uk-nav
      .uk-nav-header
        text-transform: none
      li
        margin-bottom: 20px
        &:first-child
          margin-bottom: 5px
        &:last-child
          margin-bottom: 0
      a
        display: block
        padding: 10px 0
        -webkit-border-radius: 12px
        -moz-border-radius: 12px
        border-radius: 12px
        color: #ffffff
        text-align: center
        i
          font-size: 18px
      .google
        background-color: #ff0000
      .facebook
        background-color: #3600ff


//-------------------------CATEGORY-PAGE------------------------

.category-page
  padding-bottom: 80px
  .uk-card-small.product
    .stock-badge
      padding: 8px 10px
    .uk-position-top-left
      font-size: 14px

.categories
  ul.sub-categories
    & > li
      & > a
        background-image: none
        font-size: 14px
    & > li.main-category
      & > a
        background: url(../img/down-arrow.png) 30px center no-repeat;
        font-size: 16px
    & > li:nth-child(2)
      border-top-color: $green

.filters
  background-color: #fff
  padding: 60px 40px 60px 70px
  .uk-form-controls
    padding-right: 28px
    label
      display: block
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      cursor: pointer
      font-family: 'Roboto', sans-serif;
      font-size: 14px
      color: #000
      margin-bottom: 5px
      .uk-checkbox:checked
        background-color: $green
      .uk-checkbox:focus
        border-color: $green
  .brands
    height: 150px
    overflow: auto
    padding-right: 10px
  .btn-container
    text-align: center
    padding-top: 30px
  .filter-btn
    background-color: #e9b017
    border: 0
    border-radius: 4px
    color: #fff
    padding: 0 60px

.sort
  background-color: #fff
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  margin-bottom: 20px
  padding: 10px 20px
  font-family: 'Roboto', sans-serif;
  font-size: 16px
  color: #6d6c6c
  .sort-items
    label
      color: #6d6c6c
      margin-right: 15px
      cursor: pointer
    .uk-checkbox
      margin-right: 10px
    .uk-checkbox:checked
      background-color: $green
    .uk-checkbox:focus
      border-color: $green
  .price-range
    display: flex
    align-items: center
    span
      margin-right: 10px
    .uk-form-controls
      display: flex
      .uk-input
        width: 100px
        height: 35px
        -webkit-border-radius: 6px
        -moz-border-radius: 6px
        border-radius: 2px
        text-align: center
        &:hover,
        &:focus
          border-color: $green
        &:first-child
          margin-right: 10px

.products
  .product
    text-decoration: none
    height: 100%
    //margin-bottom: 20px


//-------------------------PRODUCT-PAGE------------------------

    //.zoomWrapper
    //  width: 100%!important
    //  height: auto!important
    //  img
    //    position: static!important
    //    width: 100%!important
    //    height: 385px!important
    //    object-fit: contain
    //#gal1
    //  display: flex
    //  justify-content: space-between
    //  flex-wrap: wrap
    //  padding-top: 10px
    //  .small-image
    //    width: 31%
    //    height: 120px
    //    margin-bottom: 10px
    //    img
    //      width: 100%
    //      height: 100%
    //      object-fit: contain

.product-page
  padding-bottom: 70px
  .product-container
    padding-top: 35px
    padding-bottom: 35px
  .product-img-slider
    //height: 650px
    //box-sizing: border-box
    background-color: #fff
    padding: 30px 20px
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.10)
  .uk-slideshow-items
    img
      width: 100%
      height: 100%
      object-fit: contain
    .uk-thumbnav
      justify-content: center
      li
        margin-bottom: 10px
        & > a
          display: block!important
          height: 100%!important
          img
            height: 100%!important
            object-fit: cover!important
    img
      width: 100%
      height: 100%
      object-fit: contain
  .product-description
    height: auto
    box-sizing: border-box
    background-color: #fff
    padding: 40px 70px 30px 70px
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.10)
    .path
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      list-style: none
      padding: 0
      margin: 0
      li
        margin-right: 20px
        a
          color: #bbb9b9
          text-transform: uppercase
          display: block
        .link-active
          color: #000
    h4
      font-size: 24px
      margin: 30px 0 15px 0
    h6
      font-family: 'RobotoRegular', sans-serif
      font-size: 16px
      margin-top: 0
      margin-bottom: 20px
      color: #000
      text-transform: uppercase
    p
      margin-top: 0
      margin-bottom: 40px
    .increase-decrease
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      align-items: center
      justify-content: space-around
    .product-price
      .new-price
        font-family: 'RobotoBold', sans-serif
        font-size: 34px
        color: #ff0000
        margin: 0
      .old-price
        font-size: 22px
        margin: 0
        text-decoration: line-through
    .add-buttons
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      justify-content: space-between
      padding-top: 50px
      button
        width: 200px
        padding: 0
        border-radius: 6px
        border: 0
        color: #fff
        line-height: 55px
      .basket-button
        background-color: $green
      .fav-button
        background-color: $yellow

.product-amount
  width: 92px
  height: 30px
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  justify-content: space-between
  align-items: stretch
  button
    width: 25px
    border: 0
    background-color: #f4f6f4
    padding: 0
    outline: 0
    cursor: pointer
  .increase
    border-top-right-radius: 25px
    border-bottom-right-radius: 25px
  .decrease
    border-top-left-radius: 25px
    border-bottom-left-radius: 25px
  #p-amount,
  .increase_decrease
    width: 35px
    border: 0
    background-color: #f4f6f4
    text-align: center


//-------------------------FAVOURITES------------------------

.favourite-page
  padding: 30px 0 140px 0
  .favourite-products
    background-color: #fff
    padding: 40px 70px 80px 70px
    .title
      padding-bottom: 40px
    h4
      font-size: 24px
      text-transform: uppercase
      margin-bottom: 0


//-------------------------BASKET-PAGE------------------------

.basket-page
  padding-bottom: 140px

.basket-container
  background-color: #fff
  padding: 30px 70px 150px 70px
  margin-top: 40px
  .title
    padding-bottom: 40px
    h4
      font-size: 24px
      text-transform: uppercase
  .table-head
    border: 1px solid #f0efef
    th:first-child
      text-align: center
  .b-product-img
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    align-items: center
    .img-container
      width: 130px
      height: 134px
      border: 1px solid #f0efef
      padding: 5px
      box-sizing: border-box
      margin-right: 30px
      img
        width: 100%
        height: 100%
        object-fit: contain
    p
      margin: 0
      text-transform: uppercase
      width: 100%
      max-width: 330px
  .uk-table
    tbody
      tr
        border-right: 1px solid #f0efef
        border-left: 1px solid #f0efef
        &:last-child
          border-bottom: 1px solid #f0efef
  .total-container
    padding-top: 60px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: column
    align-items: flex-end
    p
      text-transform: uppercase
      display: -webkit-flex
      display: -moz-flex
      display: -ms-flex
      display: -o-flex
      display: flex
      align-items: center
      flex-wrap: wrap
      span
        font-size: 30px
        color: #ff0000
        margin-left: 10px
    .uk-button
      border-radius: 6px
      color: #fff
      background-color: #ff0000
      line-height: 55px
      border: 0
  .last-cell
    position: relative
    .delete-product
      display: block
      width: 20px
      height: 20px
      position: absolute
      top: 20px
      right: 20px
      background: url('../img/delete-icon.png') center no-repeat
      cursor: pointer

.order-modal
  width: 570px
  padding: 40px 100px 60px
  .uk-legend
    font-size: 16px
    text-transform: uppercase
  .uk-input
    height: 45px
    border-radius: 6px
  .uk-button
    border-radius: 6px
    color: #fff
    background-color: #ff0000
    line-height: 45px
    border: 0
    width: 100%



//-------------------------ORDER-PAGE------------------------

.order-page
  padding-bottom: 140px
  .basket-container
    .b-product-img
      display: table-cell
      .img-container
        margin-right: 0
      p
        text-align: center
        padding-top: 10px
        padding-right: 15px


//-------------------------MY-ROOM------------------------

.room-page
  padding-bottom: 140px

.room-container
  background-color: #fff
  margin-top: 30px
  padding: 50px 0 140px
  .title
    padding-bottom: 40px
    h4
      text-align: center
      font-size: 24px
      text-transform: uppercase
  .edit-profile
    width: 100%
    max-width: 430px
    margin: 0 auto
  .uk-form-label,
  .uk-input
    font-family: 'Roboto', sans-serif
    color: #000
  .uk-form-label
    padding-bottom: 15px
    display: inline-block
  .uk-input
    height: 45px
    border-radius: 6px
  .password-link
    font-family: 'Roboto', sans-serif
    color: #ff0000
    text-decoration: underline
  .uk-button
    border: 0
    border-radius: 6px
    display: block
    width: 275px
    margin: 0 auto
    background-color: $green
    color: #fff
    line-height: 45px
    margin-top: 30px

.profile-modal
  .uk-button
    background-color: $green
  .uk-form-label
    display: inline-block
    padding-bottom: 15px




//-------------------------STOCKS-PAGE------------------------


.stocks-page
  padding: 30px 0 140px 0
  .stocks-products
    background-color: #fff
    padding: 40px 70px 80px 70px
    .title
      padding-bottom: 40px
    h4
      font-size: 24px
      text-transform: uppercase
      margin-bottom: 0
    .stock-slider
      .uk-slideshow-items
        width: 100%
        max-width: 630px
        height: 100%!important
        min-height: 370px!important
        margin: 0 auto
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.10)
        li > a
          text-decoration: none
        .uk-width-medium
          margin-left: 15px
        .stock-title
          padding: 15px 50px
          color: #fff
          text-transform: uppercase
          text-align: center
          background: #b90124 url('../img/calendar.png') 30px center no-repeat
        .sl-img-container
          width: 100%
          height: 285px
          margin-right: 20px
          img
            width: 100%
            height: 100%
            object-fit: contain
      .circle
        width: 65px
        height: 65px
        border-radius: 50%
        background: $yellow url('../img/down-icons.png') center no-repeat
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: -30px


//-------------------------SINGLE-STOCK------------------------

.stock-container
  .product-img-container
    position: relative
    .stock-title
      width: 100%
      padding: 15px 60px
      box-sizing: border-box
      background: #b90124 url('../img/calendar.png') 25px center no-repeat
      color: #fff
      text-transform: uppercase
      position: absolute
      top: 0
      left: 0
      text-align: center
  .product-description
    h4
      margin-top: 15px


.share-container
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  padding-top: 30px
  p
    margin: 0 20px 0 0
.share
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  margin: 0
  padding: 0
  li
    background: url("../img/social-icons.png") no-repeat
    margin-right: 15px
    list-style: none
  .social
    display: block
    cursor: pointer
    width: 20px
    height: 20px
  .instagram
    background-position: -24px 0
  .telegram
    background-position: -50px 0



//-------------------------HELP-PAGE------------------------

.help-page
  padding: 30px 0 100px
  .help-container
    background-color: #fff
    padding: 40px 70px 80px
    .title
      padding-bottom: 30px
      h4
        font-size: 24px
        margin: 0
    .uk-tab-left
      &::before
        border-right: 0
      &>*>a
        border-right: 0
        &::after
          content: ''
          @include arr(10, 15, $green, r)
          position: absolute
          right: -10px
          top: 50%
          -webkit-transform: translateY(-50%)
          -moz-transform: translateY(-50%)
          -ms-transform: translateY(-50%)
          -o-transform: translateY(-50%)
          transform: translateY(-50%)
          display: none
    .uk-tab
      border: 1px solid $green
      width: 100%
      max-width: 300px
      min-width: 250px
      li
        border-bottom: 1px solid $green
        &:last-child
          border-bottom: 0
      & > * > a
        text-align: center
        text-transform: none
        font-size: 16px
        color: #000000
        padding: 15px 10px
      &>.uk-active>a
        background-color: $green
        color: #FFFFFF
        &::after
          display: block

.uk-offcanvas-bar
  background-color: #fff
  .uk-close
    color: #000
  .uk-nav-default
    .uk-nav-sub a
      color: #000
      &:hover,
      &:focus
        color: #000
    &>li>a
      color: #000
      &:hover,
      &:focus
        color: #000
.responsive-menu
  color: $green
  text-decoration: none
  display: none
  align-items: center
  &:hover
    color: $green







//END-STYLES