@mixin until($value)
  @media screen and (max-width: $value + px)
    @content

@mixin from($value)
  @media screen and (min-width: $value + px)
    @content

@include until(1200)
  .categories h5
    font-size: 16px
  .responsive-menu
    display: flex
  .main-menu
    display: none
  .responsive-container
    display: flex
    justify-content: space-between
    align-items: center
  .category-page
    padding-top: 20px
  .sort
    .sort-items
      width: 100%
      display: flex
      justify-content: space-between
      flex-wrap: wrap
    .price-range
      padding-top: 10px
  .favourite-page .favourite-products
    padding: 40px 15px 80px
  .product-page
    .product-description
      padding: 30px 20px 30px
      .add-buttons
        flex-wrap: wrap
        justify-content: center
  .product-order-page .uk-container .stocks-products
    .stock-slider
      overflow: auto
      img
        height: auto!important

@include until(960)
  .categories h5
    text-align: left
    padding-left: 60px
    background-position: 20px center
  .sale-slider
    padding-top: 20px
  .sale-section
    .uk-container
      padding-top: 30px
      padding-bottom: 30px
      & > img
        display: none
  footer .help
    padding-left: 0
  .main-page
    padding-bottom: 40px
  .register
    .sign-in,
    .sign-up
      padding: 0
  .filters
    padding: 20px
  .basket-container
    padding: 30px 15px 100px
    margin-top: 20px
    .total-container
      align-items: flex-start
      p span
        width: 100%
        margin-left: 0
  .stocks-page .stocks-products
    padding: 40px 15px 80px
    .stock-slider .uk-slideshow-items
      min-height: 550px!important
      p
        padding: 0 15px
  .help-page .help-container
    padding: 40px 15px 80px
    .uk-tab
      margin-left: 0
      li
        padding-left: 0
        width: 100%
  .product-page
    .product-container .image-zoom-container .zoomWrapper img
      height: 200px!important
    .product-description
      .add-buttons
        flex-wrap: wrap
        justify-content: flex-start
        button
          margin-right: 10px
          margin-bottom: 10px

@include until(640)
  .sort
    .sort-items
      label
        width: 100%
        margin-bottom: 10px
  .list-products-block
    order: 0
  .filters-block
    order: 1
  .product-page .product-description .increase-decrease
    flex-wrap: wrap
    justify-content: center
  .zoomContainer
    display: none