{% extends 'admin/base.html' %}


{% block footer %}
    <div id="footer"></div>

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
    ></script>
    <script>
        $(document).ready(function () {
            var phone = $('#id_phone');
            initIncludingList(phone);
        });

        function initIncludingList(input) {
        var parent = $(input).parent();
        $(input).css('display', 'none');
        $(parent).append('<input type="text" placeholder="Введите телефон" id="included-pax">');
        $(parent).append('<button type="button" class="button">Добавить</button>');
        $(parent).append('<div class="included-pax-wrapper"><table><tbody></tbody><tfoot><tr><td><button type="button" class="button">Сохранить</button></td><td></td></tr></tfoot></table></div>');
        var counter = 0;
        var textWrapper = $(parent).find('.included-pax-wrapper table');
        var triggerButton = $(parent).find('button');
        var triggerInput = $(parent).find('#included-pax');
        var saveButton = $(parent).find('.included-pax-wrapper table tfoot tr td button');

        if ($(input).val() !== '') {
            var data = [];
            try {
                data = JSON.parse($(input).val());
            } catch (e) {
                data = [];
            }
            for (var i = 0; i < data.length; ++i) {
                $(textWrapper).append('<tr data-id="' + data[i].id + '">' +
                    '<td>' +
                    '<span class="included-pax-item">' + data[i].text + '</span>' +
                    '</td>' +
                    '<td>' +
                    '<span class="remove-including-pax button" style="cursor: pointer;">X</span>' +
                    '</td>' +
                    '</tr>');
            }
            counter = data.length;
            initRemoveIncludeButtons(input);
        }

        $(triggerButton).on('click', function (event) {
            if ($(triggerInput).val() !== '') {
                counter++;
                $(textWrapper).append('<tr data-id="' + counter + '">' +
                    '<td>' +
                    '<span class="included-pax-item">' + $(triggerInput).val() + '</span>' +
                    '</td>' +
                    '<td>' +
                    '<span class="remove-including-pax button" style="cursor: pointer;">X</span>' +
                    '</td>' +
                    '</tr>');
                $(triggerInput).val('');
                initRemoveIncludeButtons(input);
            }
        });

        $(saveButton).on('click', function (event) {
            event.preventDefault();
            var data = [];
            $(parent).find('.included-pax-item').each(function (i, obj) {
                var id = parseInt($(obj).parent().parent().attr('data-id'));
                data.push({'id': id, 'text': $(obj).html()});
            });
            if (data.length > 0) {
                $(input).val(JSON.stringify(data));
            }
        });
    }

    function initRemoveIncludeButtons(input) {
        $('.remove-including-pax').each(function (i, obj) {
            $(obj).on('click', function (e) {
                $(obj).parent().parent().fadeOut('slow', function () {
                    $(obj).parent().parent().remove();
                });
            });
        });
    }
    </script>
{% endblock %}