{% load product_template_helpers %}

{% for p in products %}
    <div>
        <a href="{% url 'products:product_single' product_slug=p.slug %}"
           class="uk-card uk-card-small uk-card-default uk-card-hover uk-card-body product">
            {% if p.is_stock %}
                <div class="uk-position-top-left uk-overlay stock-badge"{% if color %} style="background: {{ color }};"{% endif %}>Скидка</div>
            {% elif p.in_promotion %}
                <div class="uk-position-top-left uk-overlay stock-badge">Акция</div>
            {% elif p.best_seller %}
                <div class="uk-position-top-left uk-overlay stock-badge"{% if color %} style="background: {{ color }};"{% endif %}>Хит продаж</div>
            {% endif %}
            <div class="uk-position-top-right uk-overlay basket-badge">
                <span class="favourite{% if p.id in favorites %} fav-active{% endif %}" data-url="{% url 'orders:add_to_favorite' p_slug=p.slug %}"{% if in_favorite_page %} data-in-favorite-page="true"{% endif %}></span>
                <span class="basket{% if abstract_basket|contains:p.id %} basket-active{% endif %}" data-url="{% url 'orders:basket_add' p_slug=p.slug %}"></span>
            </div>
            <div class="uk-cover-container product-image-container">
                <img src="{% if p.main_image %}{{ p.main_image.url }}{% else %}http://placehold.it/250x200{% endif %}" alt="{{ p.title }}">
                <canvas width="250" height="200"></canvas>
            </div>
            <h4 class="uk-card-title">{{ p.title }}</h4>
            {% if p.is_stock %}
                <p class="old-price">{{ p.price }} сом/шт</p>
            {% endif %}
            <p class="new-price">{{ p.get_price }} сом/шт</p>
        </a>
    </div>
{% endfor %}