{% for project in projects %}
    <div>
        <div class="project-item uk-position-relative">
            <div class="img-wrapper uk-cover-container">
                <a class="link uk-position-cover" href="{% url 'works:single' slug=project.slug %}"></a>
                <div class="sub-title uk-position-left-top">
                    {% for service in project.service.all %}
                        <h3 style="margin-bottom: 5px;">
                            <a href="{% url 'categories:service' slug=service.slug %}">{{ service.title }}</a>
                        </h3>
                    {% endfor %}
                </div>
                <img src="{{ project.get_cover_image.url }}" alt="{{ project.title }}" data-uk-cover>
            </div>
            <div class="title">
                <p>{{ project.address }}</p>
                <h2><a href="{% url 'works:single' slug=project.slug %}">{{ project.title }}</a></h2>
            </div>
        </div>
    </div>
{% endfor %}