<html>
    <head>
        <style>
            div {
                width: 800px;
                height: auto;
                box-sizing: border-box;
                padding: 10px;
                -webkit-box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.5);
                -moz-box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.5);
                box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.5);
            }

            h1 {
                display: block;
                border-bottom: 1px solid #2B333D;
                padding-bottom: 10px;
            }
        </style>
    </head>

    <body>
        <div>
            <h1>Пожалуйста подтвердите вашу почту</h1>
            <p>
                Перейдите по этой ссылке <a href="{{ link }}">{{ link }}</a>
            </p>
        </div>
    </body>
</html>