{% load staticfiles widget_tweaks i18n product_template_helpers %}
<!DOCTYPE html>
<html class="no-js" lang="{{ language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} | Технология</title>
        <meta content="{{ meta_description }}" name="description">
        <meta content="{{ meta_keywords }}" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="{% static 'css/main.min.css' %}" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        {% block meta %}
            <meta property="og:title" content="Компания по реализации проектов в сферах светодиодного освещения и телекоммуникаций">
            <meta property="og:title" content="">
            <meta property="og:url" content="">
            <meta property="og:description" content="">
            <meta property="og:image" content="">
            <meta property="og:image:type" content="image/jpeg">
            <meta property="og:image:width" content="500">
            <meta property="og:image:height" content="300">
            <meta property="twitter:description" content="">
        {% endblock %}
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <style>
            .header .mobile-dropdown ul li .uk-open  span{
              transform: rotate(180deg);
            }
            #modal-form .uk-input, #modal-form .uk-textarea {font-size: 12px !important;}.production-demo .title .see-more, .project-item .title h2 a {background-image: none;}
            .all-product-box h1 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .all-project-box h1 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .all-news-box h1 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .company-box h1 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .contact-box h2 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .other-project-detail-box-componet h4 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .news-detail-box h1 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .other-project-detail-box-componet h4 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .project-detail-box-componet h4 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .project-detail-box-about h4 {
                font-size: 30px;
                font-family: 'HelveticaNeueCyr-Bold';
            }
            .project-item .title h2 a:hover {
                color: #ae2047;
            }
            .main-slider-delux.main .content-slide h3 {
                font-size: 24px;
            }

            a.see-more-btn {
                font-family: 'HelveticaNeueCyr-Bold';
                color: #262122;
            }
            a.see-more-btn:hover {
                color: #ae2047;
            }
            .sponsor .uk-slider .next,
            .sponsor .uk-slider .prev {
                -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
                box-shadow: 0 5px 5px rgba(0, 0, 0, .2);

                width: 60px;
                height: 60px;
                background-size: 18px 15px;
            }
            .header .center a  {
                position: relative;
            }

            .header .center div:hover span {
                color: #ae2047
            }
            .header .center .uk-active + span {
                color: #ae2047
            }
            .header .center .uk-open span {
                transform: rotate(180deg) translateY(2px);
                color: #ae2047
            }
            .header .center span {
                cursor: pointer;
            }
            @media screen and (max-width: 640px) {
                .sponsor .uk-slider .next,
                .sponsor .uk-slider .prev {
                    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
                    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);

                    width: 30px;
                    height: 30px;
                    background-size: 11px 15px;
                }
            }

        </style>
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
        {% block css %}{% endblock %}
    </head>

    <body class="loading">
        <!--preloader page componet-->
        <div class="preloader-cover">
            <div class="preloader">
                <div class="lines">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
                </div>
                <div class="loading-text">Загрузка...</div>
            </div>
        </div>
        <!--preloader page componet-->
        <!--stycky component-->
        <div>
            <!--top-section component-->
            <div class="top-section">
                <div class="uk-container">
                    <div class="uk-flex uk-flex-right">
                        <div>
                            <a class="link mail" href="mailto:{{ email.email }}">{{ email.email }}</a>
                        </div>
                        {% if settings.phone %}
                            {% for item in settings.phone|json_decode %}
                                <div>
                                    <a class="link phone" href="tel:{{ item.text }}">{{ item.text }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {#<div>#}
                        {##}
                            {#<a class="link toggle-lng">{% if language == 'ru' %}РУССКИЙ{% else %}КЫРЫГЫЗЧА{% endif %}</a>#}
                            {#<div class="dropdown uk-box-shadow-small" data-uk-drop="mode: click">#}
                            {#<div>#}
{#                                    {% if language == 'ru' %}#}
{#                                        <a class="lng" href="{% url 'set_language' %}?language=kg&next={{ request.get_full_path }}">КЫРГЫЗЧА</a>#}
{#                                    {% else %}#}
{#                                        <a class="lng" href="{% url 'set_language' %}?language=ru&next={{ request.get_full_path }}">РУССКИЙ</a>#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
            <!--top-section component-->
            <!--header component-->
            <header class="header uk-position-relative">
                <div class="uk-container">
                    <div class="uk-flex uk-flex-between uk-flex-middle">
                        <!--desctop nav-->
                        <div class="left-side logo">
                            <a href="{% url 'client_app:index' %}">
                                <img src="{% static 'img/minified-svg/logo-tech.svg' %}" alt="">
                            </a>
                        </div>
                        <div class="center uk-flex uk-visible@m">
                            <div>
                                <a{% if location == 'services' %} class="uk-active uk-margin-remove-right"{% endif %}  class="uk-margin-remove-right" href="{% url 'categories:service_list' %}">{{ strings.nav_services }}</a>
                                <span uk-icon="icon: triangle-down"></span>
                            </div>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300; delay-hide: 150;">
                                <ul class="uk-nav uk-dropdown-nav">
                                    {% for cat in categories %}
                                        <li>
                                            <a href="{% url 'categories:service' slug=cat.slug %}">{{ cat.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <a{% if location == 'works' %} class="uk-active uk-margin-remove-right"{% endif %} class="uk-margin-remove-right" href="{% url 'works:list' %}">{{ strings.nav_works }}</a>
                                <span uk-icon="icon: triangle-down"></span>
                            </div>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300; delay-hide: 150">
                                <ul class="uk-nav uk-dropdown-nav">
                                    {% for cat in categories %}
                                        <li>
                                            <a href="{% url 'works:category' category_slug=cat.slug %}">{{ cat.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <a{% if location == 'products' %} class="uk-active uk-margin-remove-right"{% endif %}  class="uk-margin-remove-right" href="{% url 'products:list' %}">{{ strings.nav_products }}</a>
                                <span uk-icon="icon: triangle-down"></span>
                            </div>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300; delay-hide: 150">
                                <ul class="uk-nav uk-dropdown-nav">
                                    {% for cat in categories %}
                                        <li>
                                            <a href="{% url 'products:list_category' category_slug=cat.slug %}">{{ cat.title }}</a>
                                        </li>
                                    {% endfor %}
                                    <li>
                                         <a href="{% url 'client_app:product_conditions' %}">Условия заказа</a>
                                     </li>
                                </ul>
                            </div>
                            <div>
                                <a class="uk-margin-remove-right">{{ strings.nav_prices }}</a>
                                <span uk-icon="icon: triangle-down"></span>
                            </div>
                            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 300; delay-hide: 150">
                                <ul class="uk-nav uk-dropdown-nav">
                                    {% for i in download_items %}
                                        <li>
                                            <a href="{{ i.price_list.url }}" download>{{ i.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <a{% if location == 'about' %} class="uk-active"{% endif %} href="{% url 'client_app:about' %}">{{ strings.nav_about }}</a>
                            </div>
                            <div>
                                <a{% if location == 'contacts' %} class="uk-active"{% endif %} href="{% url 'client_app:contacts' %}">{{ strings.nav_contacts }}</a>
                            </div>
                        </div>
                        <div class="right-side uk-visible@m">
                            {% if settings.phone %}
                                {% for item in settings.phone|json_decode %}
                                    {#<a class="link phone" href="tel:{{ item.text }}">{{ item.text }}</a>{% if forloop.counter < settings.phone|json_decode|length %},{% endif %}#}
                                    {% if forloop.counter0 == 0 %}
                                        <a class="call-back" href="tel:{{ item.text }}"></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <a class="modal-search" href="#modal-search" data-uk-toggle=""></a>
                        </div>
                        <!--mobile nav-->
                        <div class="uk-hidden@m"><span data-uk-icon="grid"></span>
                            <div class="mobile-dropdown" data-uk-dropdown="mode: click; pos: bottom-justify; boundary: header; boundary-align: true">
                                <ul>
                                    <li class="relative-drop">
                                        <div class="uk-flex uk-flex-middle uk-flex-center">
                                            <a href="">{{ strings.nav_services }}

                                            </a>
                                            <span uk-icon="icon: triangle-down"></span>
                                        </div>
                                        <div uk-dropdown="boundary: .relative-drop; mode: click; animation: uk-animation-slide-top-small; duration: 300; delay-hide: 150">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                {% for cat in categories %}
                                                    <li>
                                                        <a href="{% url 'categories:service' slug=cat.slug %}">{{ cat.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="relative-drop">
                                        <div class="uk-flex uk-flex-middle uk-flex-center">
                                            <a href="{% url 'works:list' %}">{{ strings.nav_works }} </a>
                                            <span uk-icon="icon: triangle-down"></span>
                                        </div>

                                        <div uk-dropdown="boundary: .relative-drop; mode: click; animation: uk-animation-slide-top-small; duration: 300; delay-hide: 150">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                {% for cat in categories %}
                                                    <li>
                                                        <a href="{% url 'works:category' category_slug=cat.slug %}">{{ cat.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="relative-drop">
                                     <div class="uk-flex uk-flex-middle uk-flex-center">
                                        <a href="{% url 'products:list' %}">{{ strings.nav_products }} </a>
                                        <span uk-icon="icon: triangle-down"></span>
                                     </div>
                                        <div uk-dropdown="boundary: .relative-drop; mode: click; animation: uk-animation-slide-top-small; duration: 300; delay-hide: 150">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                {% for cat in categories %}
                                                    <li>
                                                        <a href="{% url 'products:list_category' category_slug=cat.slug %}">{{ cat.title }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                                 <li>
                                                     <a href="{% url 'client_app:product_conditions' %}">Условия заказа</a>
                                                 </li>
                                            </ul>

                                        </div>
                                    </li>
                                    <li class="relative-drop">
                                        <div class="uk-flex uk-flex-middle uk-flex-center">
                                            <a>{{ strings.nav_prices}}
                                            </a>
                                            <span uk-icon="icon: triangle-down"></span>
                                        </div>

                                        <div uk-dropdown="boundary: .relative-drop; mode: click; animation: uk-animation-slide-top-small; duration: 300; delay-hide: 150">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                {% for i in download_items %}
                                                    <li>
                                                        <a href="{{ i.price_list.url }}" download>{{ i.title }}</a>
                                                    </li>
                                                {% endfor %}

                                            </ul>

                                        </div>
                                    </li>

                                    <li>
                                        <a href="{% url 'client_app:about' %}">{{ strings.nav_about }}</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'client_app:contacts' %}">{{ strings.nav_contacts }}</a>
                                    </li>
                                    <li class="last-child">
                                        {#<a class="call-back" href="tel:{{ settings.phone }}"></a>#}
                                        {% if settings.phone %}
                                            {% for item in settings.phone|json_decode %}
                                                {#<a class="link phone" href="tel:{{ item.text }}">{{ item.text }}</a>{% if forloop.counter < settings.phone|json_decode|length %},{% endif %}#}
                                                {% if forloop.counter0 == 0 %}
                                                    <a class="call-back" href="tel:{{ item.text }}"></a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </li>
                                    <li class="last-child">
                                        <a class="modal-search" href="#modal-search" data-uk-toggle=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--header component-->
        </div>
        {% block content %}

        {% endblock %}
        <!--sponsor componet-->
{#        <div class="sponsor uk-margin-large">#}
{#            <div class="uk-container">#}
{#                <div class="title uk-flex uk-flex-middle">#}
{#                    <h2 style="font-size: 30px;font-family: 'HelveticaNeueCyr-Bold',sans-serif;">Наши партнеры</h2>#}
{#                </div>#}
{#                <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="autoplay: true; autoplay-interval: 4000">#}
{#                    <div class="cover">#}
{#                        <ul class="uk-slider-items uk-child-width-1-2 uk-grid uk-child-width-1-5@m uk-child-width-1-3@s">#}
{#                            {% for slide in brand_logos %}#}
{#                                <li>#}
{#                                    <div class="uk-panel">#}
{#                                        {% if slide.link %}#}
{#                                            <a href="{{ slide.link }}" target="_blank">#}
{#                                                <img src="{{ slide.thumbnail.url }}" alt="">#}
{#                                            </a>#}
{#                                        {% else %}#}
{#                                            <img src="{{ slide.thumbnail.url }}" alt="">#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                    <a class="uk-position-center-left prev" href="#" data-uk-slider-item="previous"></a>#}
{#                    <a class="uk-position-center-right next" href="#" data-uk-slider-item="next"></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <!--sponsor componet-->
        <!--footer componet-->
        <footer class="footer">
            <div class="uk-container">
                <div class="uk-grid uk-grid-large" data-uk-grid>
                    <div class="uk-width-auto@m left-side">
                        <a href="">
                            <img src="{% static 'img/minified-svg/logo-footer.svg' %}" alt="">
                        </a>
                    </div>
                    <div class="uk-width-expand@m right-side">
                        <h4>{% trans 'Компания по реализации проектов в сферах светодиодного освещения и телекоммуникаций.' %}</h4>
                        {#<a class="uk-button" href="#modal-form" uk-toggle>{% trans 'Заказать проект' %}</a>#}
                        <div class="uk-flex uk-flex-between@m uk-flex-left uk-flex-middle sub-link">
                            <div class="link">
                                <a href="{% url 'categories:service_list' %}">{% trans 'УСЛУГИ' %}</a><a href="{% url 'works:list' %}">{% trans 'РАБОТЫ' %}</a><a href="{% url 'products:list' %}">{% trans 'ПРОДУКЦИЯ' %}</a><a href="{% url 'client_app:about' %}">{% trans 'О КОМПАНИИ' %}</a><a href="{% url 'client_app:contacts' %}">{% trans 'КОНТАКТЫ' %}</a>
                            </div>
                            <div class="social-btn">
                                <a href="{{ settings.instagram }}">
                                    <img src="{% static 'img/minified-svg/instagram.svg' %}" alt="" width="20">
                                </a>
                                <a href="{{ settings.facebook }}">
                                    <img src="{% static 'img/minified-svg/facebook-logo.svg' %}" alt="" width="10">
                                </a>
                            </div>
                        </div>
                        <div class="copyright">
                            <p>{% trans 'Данные на сайте носят информационный характер и не являются публичной офертой.' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer componet-->
        <!--modal-search in header componet-->
        <div class="uk-modal-full uk-modal modal-search" id="modal-search" uk-modal="">
            <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="">
                <button class="uk-modal-close-full" type="button" uk-close=""></button>
                <form class="uk-search uk-search-large" action="{% url 'products:search' %}" method="GET">
{#                    <input class="uk-search-input uk-text-center" type="search" placeholder="Поиск..." autofocus="">#}
                    {% render_field search_form.search_field class="uk-search-input uk-text-center" type="search" autofocus="" placeholder='Поиск...' %}
                </form>
            </div>
        </div>
        <!--modal-search in header componet-->


        <div id="modal-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">{% trans 'Заказать проект' %}</h2>
                <form action="{% url 'client_app:feedback' %}" method="POST" class="feedback-form">
                    <div class="uk-margin">
                        {#<input class="uk-input" type="text" placeholder="Ваше Имя">#}
                        {% render_field abstract_feedback_form.first_name class='uk-input' %}
                    </div>
                    <div class="uk-margin">
                        {#<input class="uk-input" type="text" placeholder="Ваше Телефон">#}
                        {% render_field abstract_feedback_form.phone_number class='uk-input' %}
                    </div>
                    <div class="uk-margin">
                        {#<input class="uk-input" type="text" placeholder="Ваше Почта">#}
                        {% render_field abstract_feedback_form.email class='uk-input' %}
                    </div>
                    <div class="uk-margin">
{#                        <textarea class="uk-textarea" placeholder="Ваше сообщение" rows="3"></textarea>#}
                        {% render_field abstract_feedback_form.message class='uk-textarea' rows='3' %}
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button" type="submit">{% trans 'Отправить' %}</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="mobile-phone">
            {% if settings.phone %}
                {% for item in settings.phone|json_decode %}
                    {% if forloop.counter0 == 0 %}
                        <a href="tel:{{ item.text }}"></a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>


        <script src="{% static 'js/main.min.js' %}"></script>
        <script>
            function getCookie(name) {
                var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : undefined;
            }

            function startPageLoading() {
                $('body').addClass('loading');
                $('.preloader-cover').fadeIn('fast');
            }

            function stopPageLoading() {
                setTimeout(function () {
                    $('.preloader-cover').fadeOut('slow', function () {
                        $('body').removeClass('loading');
                    });
                }, 1000);
            }

            $(document).ready(function () {
                $('.feedback-form').each(function () {
                    var $this = this;
                    $($this).find('button[type=submit]').on('click', function (e) {
                        e.preventDefault();
                        startPageLoading();

                        var url = $($this).attr('action');
                        var method = $($this).attr('method');
                        var data = {
                            csrfmiddlewaretoken: getCookie('csrftoken')
                         };

                        var inputs = $($this).find('input');

                        for (var i = 0; i < inputs.length; ++i) {
                            data[$(inputs[i]).attr('name')] = $(inputs[i]).val()
                        }

                        var textAreas = $($this).find('textarea');

                        for (var j = 0; j < textAreas.length; ++j) {
                            data[$(textAreas[j]).attr('name')] = $(textAreas[j]).val()
                        }

                        $.ajax({
                            url: url,
                            method: method,
                            dataType: 'JSON',
                            data: data,
                            success: function (response) {
                                stopPageLoading();
                                if (response.success) {
                                    UIkit.modal($($this).parent().parent()).hide();
                                    UIkit.notification({
                                        message: response.message,
                                        pos: 'top-right',
                                        status: 'success',
                                        timeout: 3000
                                    });
                                } else {
                                    UIkit.notification({
                                        message: response.message,
                                        pos: 'top-right',
                                        status: 'danger',
                                        timeout: 3000
                                    });
                                }
                            },
                            error: function () {
                                stopPageLoading();
                                UIkit.notification({
                                    message: 'Произошла неизвестная ошибка! Попробуйте позже!',
                                    pos: 'top-right',
                                    status: 'danger',
                                    timeout: 3000
                                });
                            }
                        });
                    });
                });
            });
        </script>
        {% block js %}{% endblock %}
    </body>

</html>